<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PT. Bumi Amartha Teknologi Mandiri </title>
    <link th:href="@{/img/favicon-16x16.png}" rel="icon">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link th:src="@{/img/favicon-16x16.png}" rel="icon">
    <link th:src="@{/img/favicon-16x16.png}" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">



    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <link th:href="@{/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
    </script>

    <!-- Main Stylesheet File -->
    <link th:href="@{/admin/css/style.css}" rel="stylesheet">

    <style>
        @media (max-width: 600px) {
            #detailprofil .judul {
                font-size: 20px !important;
                 !
            }

            #detailprofil h6 {
                font-size: 14px;
            }
        }
    </style>

</head>

<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <a th:href="@{/index}" class="scrollto"><img th:src="@{/img/1x/logo.png}" alt="" class="img-fluid"></a>
            </div>


            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="drop-down"><a>Account</a>
                        <ul>
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a href="#" th:text="${userm.uname}"></a>
                            </li>
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a th:href="@{/logout}">Logout</a></li>
                            <li th:if="${#lists.isEmpty(userm)}">
                                <a th:href="@{/login}">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <nav id="sidebar">
        <div id="dismiss" th:attr="onclick=|hideup()|">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
        </div>
        <ul class="list-unstyled components web">
            <div th:id="'ap-'+${uaj.applicants.nama}" th:each="uaj, itemStat : ${listApplicants}">
                <div th:id="'dslider-'+${uaj.applicants.id_ap}" class="d-none">
                    <div class="row">
                        <div class="col-8">
                            
                            <!-- Sidebar photo, and contact info -->
                            <div class="row mb-4">
                                <div id="parentfoto" class="col-2">
                                    <img th:if="${uaj.applicants.data_gambar} != null"
                                        class="border border-dark rounded-circle" id="img-profile"
                                        th:src="@{/__${uaj.applicants.id_ap}__/img/foto.jpg}"
                                        style="margin-left: 10px; margin-bottom: 30px;" alt="profile">
                                    <i th:if="${uaj.applicants.data_gambar} == null"
                                        class="fa fa-user-circle border border-dark rounded-circle" id="img-profile"
                                        style="font-size:48px; margin-left: 10px; margin-bottom: 30px;"></i>
                                </div>
                                <div id="parentprofil" class="col-8">
                                    <h6 th:text="${uaj.applicants.nama}" style="font-size: 24px; font-weight: bold;"></h6>
                                    <h6 th:text="${uaj.applicants.alamat}" style="margin-top: -10px;"></h6>
                                    <h6 th:if="${not #lists.isEmpty(viewYear[itemStat.index])}"
                                            th:text="${viewYear[itemStat.index]} + ' years ' + ${viewMonth[itemStat.index]} + ' month of experience'" style="margin-top: -10px; font-size: 12px;"></h6>
                                    <h6 th:text="${uaj.applicants.personal_statement}" class="text-justify m-0" style="font-size: 14px;"></h6>
                                </div>
                            </div>
                            <!-- End of sidebar photo, and contact info -->

                            <!-- Sidebar of work experiences  -->
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); margin-left: 30px;"><i class="fas fa-building"></i> WORK HISTORY</h3>
                                    <div th:each="work : ${listApplicants[itemStat.index].workexs}">
                                        <h6 th:text="${work.job}" style=" margin-left: 30px; font-weight: bold;"></h6>
                                        <h6 th:text="${work.company}" style="font-size: 14px; margin-top: -15px; margin-left: 30px;"></h6>
                                        <h6 th:text="${#dates.monthNameShort(work.date_awal) + ' ' + #dates.year(work.date_awal) + ' - ' + #dates.monthNameShort(work.date_akhir) + ' ' + #dates.year(work.date_akhir)}" style="font-size: 14px; margin-top: -15px; margin-left: 30px;"></h6>
                                        <h6 th:text="${work.description}" style="font-size:12px; margin-top: -10px; margin-left: 30px;"></h6>
                                    </div>
                                </div>
                            </div>
                            <!-- End of sidebar work experieces -->

                            <!-- Sidebar of education  -->
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h3 style="font-size: smaller;   font-weight: 900; color: rgb(153, 153, 153); margin-left: 30px;"><i class="fas fa-university"></i> EDUCATION</h3>
                                    <div th:each="edu : ${listApplicants[itemStat.index].educations}" >
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 th:text="${#dates.monthNameShort(edu.date_awal) + ' ' + #dates.year(edu.date_awal) + ' - ' + #dates.monthNameShort(edu.date_akhir) + ' ' + #dates.year(edu.date_akhir)}" style="font-size: 14px; margin-top: -10px; margin-left: 30px;"></h6>
                                            </div>
                                            <div class="col-7">
                                                <h6 th:text="${edu.major}" style="margin-top: -10px; margin-left: 30px; font-weight: bold;"></h6>
                                                <h6 th:text="${edu.school}" style="font-size: 14px; margin-top: -18px; margin-left: 30px;"></h6>
                                                
                                                <h6 th:text="${edu.description}" style="font-size:12px; margin-top: -10px; margin-left: 30px;"></h6>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- End of sidebar education -->

                            <!-- Sidebar of Trainings -->
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); margin-left: 30px;"><i class="fas fa-lightbulb"></i> SKILLS</h3>
                                    <div th:each="s : ${listApplicants[itemStat.index].skills}">
                                        <div class="row">
                                            <div class="col-6">
                                                <h6 th:text="${s.skill}" style=" margin-left: 30px; font-weight: bold;"></h6>
                                            </div>
                                            <div class="col-6">
                                                <h6 th:text="${s.level}" style="font-size: 14px; margin-left: 30px;"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of sidebar trainings  -->

                            <!-- Sidebar of Trainings -->
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); margin-left: 30px;"><i class="fas fa-chart-line"></i> TRAININGS</h3>
                                    <div th:each="t : ${listApplicants[itemStat.index].trainings}">
                                        <h6 th:text="${t.ntraining}" style=" margin-left: 30px; font-weight: bold;"></h6>
                                        <h6 th:text="${t.company}" style="font-size: 14px; margin-top: -15px; margin-left: 30px;"></h6>
                                        <h6 th:text="${#dates.monthName(t.date_awal) + ' ' + #dates.year(t.date_awal) + ' - ' + #dates.monthName(t.date_akhir) + ' ' + #dates.year(t.date_akhir)}" style="font-size: 10px; margin-top: -10px; margin-left: 30px;"></h6>
                                        <h6 th:text="${t.description}" style="font-size:12px; margin-top: -10px; margin-left: 30px;"></h6>
                                    </div>
                                </div>
                            </div>
                            <!-- End of sidebar trainings  -->

                            <!-- Sidebar of certificates -->
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); margin-left: 30px;"><i class="fas fa-folder"></i> CERTIFICATES</h3>
                                    <div th:each="c : ${listApplicants[itemStat.index].certificates}">
                                        <h6 th:text="${c.nama_certificate}" style=" margin-left: 30px; font-weight: bold;"></h6>
                                        <h6 th:text="${c.company}" style="font-size: 14px; margin-top: -10px; margin-left: 30px;"></h6>
                                        <h6 th:text="${#dates.monthName(c.date) + ' ' + #dates.year(c.date)}" style="font-size: 10px; margin-top: -10px; margin-left: 30px;"></h6>
                                        <h6 th:text="${c.description}" style="font-size:12px; margin-top: -10px; margin-left: 30px;"></h6>
                                    </div>
                                </div>
                            </div>
                            <!-- End of sidebar certificates  -->

                            <!-- Sidebar of Projects -->
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); margin-left: 30px;"><i class="fas fa-sitemap"></i>
                                    PROJECTS</h3>
                                <div th:each="pr : ${listApplicants[itemStat.index].projects}">
                                    <h6 th:text="${pr.nama_project}" style=" margin-left: 30px; font-weight: bold;"></h6>
                                    <h6 th:text="${pr.posisi_project}"style="font-size: 14px; margin-top: -10px; margin-left: 30px;"></h6>
                                    <h6 th:text="${#dates.monthName(pr.date_awal) + ' ' + #dates.year(pr.date_awal) + ' - ' + #dates.monthName(pr.date_akhir) + ' ' + #dates.year(pr.date_akhir)}" style="font-size: 10px; margin-top: -10px; margin-left: 30px;"></h6>
                                </div>

                                </div>
                            </div>
                            <!-- End of sidebar projects -->
                            <hr>

                        </div>

                        <div class="col-4">
                            <div th:if="${listUaj[itemStat.index].status == 1}">
                                <a type="button" class="btn btn-outline-primary" style="width: 150px; margin-bottom: -30px;"
                                    th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/2'}">
                                    <i class="fa fa-heart"></i> I Like This<br>Candidate</a>
                            </div></br>
                            <br>
                            <div th:if="${listUaj[itemStat.index].status != 6}">
                                <a type="button" class="btn btn-outline-primary" style="width: 150px; margin-bottom: -30px;"
                                    th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/6'}">
                                    <i class="fa fa-lock"></i>
                                    Reject</a>
                            </div></br>
                            <br><a th:if="${uaj.applicants.data_cv} != null" th:href="@{/__${uaj.applicants.id_ap}__/pdf/cv.pdf}" style="width: 150px;" class="btn btn-outline-primary"> <i
                                    class="fa fa-arrow-down"></i>
                                Download</a></br>
                            <br>
                            <div class="dropdownshow">
                                <button type="button" class="btn btn-outline-primary flex-wrap" style="width: 150px;"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"
                                    th:if="${listUaj[itemStat.index].status != 1}"    th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/1'}">Applications</a>
                                    <a class="dropdown-item"
                                    th:if="${listUaj[itemStat.index].status != 2}"    th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/2'}">Shortlist</a>
                                    <a class="dropdown-item"
                                    th:if="${listUaj[itemStat.index].status != 3}"    th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/3'}">For
                                        Interview</a>
                                    <a class="dropdown-item"
                                    th:if="${listUaj[itemStat.index].status != 4}"    th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/4'}">Offered</a>
                                    <a class="dropdown-item"
                                    th:if="${listUaj[itemStat.index].status != 5}"    th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/5'}">Hired</a>
                                </div>
                            </div></br>
                            <div>
                                <h3
                                    style=" margin-top: 30px; margin-left: 0px; font-size: smaller;   font-weight: 900; color: rgb(153, 153, 153);"><i class="fas fa-address-card"></i>
                                    CONTACT INFORMATION</h3>

                                <p th:text="${uaj.applicants.email}"
                                    style="margin-left: -10px; margin-top: -20px; font-size: 12px;">

                                </p>
                                <p th:text="${uaj.applicants.contact}"
                                    style="margin-left: -10px; margin-top: -20px; font-size: 12px;"></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a th:href="${'/index/detail/'+job.id_job+'/'+useracc[0].status+'/download/pdf/'+uaj.applicants.id_ap}" style="width: 700px; margin-left: 20px;" type="button" class="btn btn-outline-primary">Generate PDF</a>
                    </div>
                </div>
            </div>
        </ul>

        <ul class="list-unstyled components phone">
            <div th:id="'ap-'+${uaj.applicants.nama}" th:each="uaj, itemStat : ${listApplicants}">
                <div th:id="'dslider-'+${uaj.applicants.id_ap}" class="d-none">

                    <div class="row">
                        <div class="col-3"></div>
                        <div id="parentfoto" class="col-6 text-center">
                            <img th:if="${uaj.applicants.data_gambar} != null" class="border border-dark rounded-circle" id="img-profile" th:src="@{/__${uaj.applicants.id_ap}__/img/foto.jpg}" alt="profile"> <i th:if="${uaj.applicants.data_gambar} == null" class="fa fa-user-circle border border-dark rounded-circle" id="img-profile" style="font-size:48px; margin-left: 10px; margin-bottom: 30px;"></i>
                        </div>
                        <div class="col-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div id="parentprofil" class="col-10">
                            <h6 th:text="${uaj.applicants.nama}" class="text-center" style="font-size: 14px; font-weight: bold; margin-top: 10px;"></h6>
                            <h6 th:text="${uaj.applicants.alamat}" class="text-center" style="margin-top: -15px; font-size: 10px;"></h6>
                            <h6 th:if="${not #lists.isEmpty(viewYear[itemStat.index])}" th:text="${viewYear[itemStat.index]} + ' years ' + ${viewMonth[itemStat.index]} + ' month of experience'" class="text-center" style="margin-top: -15px; font-size: 10px;"></h6>
                            <h6 th:text="${uaj.applicants.personal_statement}" class="text-justify" style="font-size: 10px;"></h6>
                        <hr>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h6 style="font-size: 10px; font-weight: 900; color: rgb(153, 153, 153);"><i class="fas fa-address-card"></i> CONTACT INFORMATION</h6>
                            <h6 th:text="${uaj.applicants.email}" style="margin-left: 10px; margin-top: -10px; font-size: 10px;">
                            </h6>
                            <h6 th:text="${uaj.applicants.contact}" style="margin-left: 10px; margin-top: -15px; font-size: 10px;"></h6>
                        <hr>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    
                    <div class="row mb-2" th:if="${listUaj[itemStat.index].status == 1}">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <a type="button" class="btn btn-outline-primary btn-sm btn-block" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/2'}" style="font-size: 10px;"> <i class="fa fa-heart"></i> I Like This Candidate</a>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row mb-2" th:if="${listUaj[itemStat.index].status != 6}">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <a type="button" class="btn btn-outline-primary btn-sm btn-block" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/6'}" style="font-size: 10px;"> <i class="fa fa-lock" ></i> Reject</a>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row mb-2" th:if="${uaj.applicants.data_cv} != null">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <a th:href="@{/__${uaj.applicants.id_ap}__/pdf/cv.pdf}" class="btn btn-outline-primary btn-sm btn-block" style="font-size: 10px;"> <i class="fa fa-arrow-down"></i> Download</a>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row mb-4" th:if="${uaj.applicants.data_cv} != null">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <button type="button" class="btn btn-outline-primary btn-sm btn-block flex-wrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 10px;">More</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:if="${listUaj[itemStat.index].status != 1}" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/1'}" style="font-size: 10px;">Applications</a> 
                                <a class="dropdown-item" th:if="${listUaj[itemStat.index].status != 3}" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/3'}" style="font-size: 10px;">For Interview</a>
                                <a class="dropdown-item" th:if="${listUaj[itemStat.index].status != 4}" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/4'}" style="font-size: 10px;">Offered</a> 
                                <a class="dropdown-item" th:if="${listUaj[itemStat.index].status != 5}" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/5'}" style="font-size: 10px;">Hired</a>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    



                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h3 style="font-size: 10px; font-weight: 900; color: rgb(153, 153, 153);" ><i class="fas fa-building"></i> WORK HISTORY</h3>
                            <div th:each="work : ${listApplicants[itemStat.index].workexs}">
                                <h6 th:text="${work.job}" style="font-size: 10px; font-weight: bold;margin-top: -10px;"></h6>
                                <h6 th:text="${work.company}" style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                                <h6 th:text="${#dates.monthNameShort(work.date_awal) + ' ' + #dates.year(work.date_awal) + ' - ' + #dates.monthNameShort(work.date_akhir) + ' ' + #dates.year(work.date_akhir)}" style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                                <h6 th:text="${work.description}" style="font-size:10px; margin-top: -15px; margin-left: 10px;"></h6>
                            </div>
                        <hr>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h3 style="font-size: 10px; font-weight: 900; color: rgb(153, 153, 153);" ><i class="fas fa-university"></i> EDUCATION</h3>
                            <div th:each="edu : ${listApplicants[itemStat.index].educations}" >
                                <div class="row">
                                    <div class="col-5">
                                        <h6 th:text="${#dates.monthNameShort(edu.date_awal) + ' ' + #dates.year(edu.date_awal) + ' - ' + #dates.monthNameShort(edu.date_akhir) + ' ' + #dates.year(edu.date_akhir)}" style="font-size: 10px; margin-top: -10px; margin-left: 10px;"></h6>
                                    </div>
                                    <div class="col-7">
                                        <h6 th:text="${edu.major}" style="margin-top: -10px; font-weight: bold; font-size: 10px;"></h6>
                                        <h6 th:text="${edu.school}" style="font-size: 14px; margin-top: -15px; font-size: 10px;"></h6>
                                        
                                        <h6 th:text="${edu.description}" style="font-size:12px; margin-top: -15px; font-size: 10px;"></h6>
                                    </div>
                                </div>
                            </div>
                        <hr style="margin-top:0;">
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); font-size: 10px;"><i class="fas fa-lightbulb"></i> SKILLS</h3>
                            <div th:each="s : ${listApplicants[itemStat.index].skills}">
                                <div class="row">
                                    <div class="col-6" style="margin-top: -10px;">
                                        <h6 th:text="${s.skill}" style="font-size: 10px; margin-left: 10px; font-weight: bold;"></h6>
                                    </div>
                                    <div class="col-6" style="margin-top: -10px;">
                                        <h6 th:text="${s.level}" style="font-size: 10px; margin-left: 10px;"></h6>
                                    </div>
                                </div>
                            </div>
                        <hr style="margin-top: 0;">
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); font-size: 10px;"><i class="fas fa-chart-line"></i> TRAININGS</h3>
                            <div th:each="t : ${listApplicants[itemStat.index].trainings}">
                                <h6 th:text="${t.ntraining}" style=" margin-left: 10px; font-weight: bold; font-size: 10px; margin-top: -10px;"></h6>
                                <h6 th:text="${t.company}" style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                                <h6 th:text="${#dates.monthName(t.date_awal) + ' ' + #dates.year(t.date_awal) + ' - ' + #dates.monthName(t.date_akhir) + ' ' + #dates.year(t.date_akhir)}" style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                                <h6 th:text="${t.description}" style="font-size:10px; margin-top: -15px; margin-left: 10px;"></h6>
                            </div>
                        <hr style="margin-top: 0;">
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); font-size: 10px;"><i class="fas fa-folder"></i> CERTIFICATES</h3>
                            <div th:each="c : ${listApplicants[itemStat.index].certificates}">
                                <h6 th:text="${c.nama_certificate}" style=" margin-left: 10px; font-weight: bold; font-size: 10px; margin-top: -10px;"></h6>
                                <h6 th:text="${c.company}" style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                                <h6 th:text="${#dates.monthName(c.date) + ' ' + #dates.year(c.date)}" style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                                <h6 th:text="${c.description}" style="font-size:10px; margin-top: -15px; margin-left: 10px;"></h6>
                            </div>
                        <hr style="margin-top: 0;">
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h3 style="font-size: smaller; font-weight: 900; color: rgb(153, 153, 153); font-size: 10px;"><i class="fas fa-sitemap"></i>
                            PROJECTS</h3>
                            <div th:each="pr : ${listApplicants[itemStat.index].projects}">
                                <h6 th:text="${pr.nama_project}" style=" margin-left: 10px; font-weight: bold; font-size: 10px; margin-top: -10px;"></h6>
                                <h6 th:text="${pr.posisi_project}"style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                                <h6 th:text="${#dates.monthName(pr.date_awal) + ' ' + #dates.year(pr.date_awal) + ' - ' + #dates.monthName(pr.date_akhir) + ' ' + #dates.year(pr.date_akhir)}" style="font-size: 10px; margin-top: -15px; margin-left: 10px;"></h6>
                            </div>
                        <hr style="margin-top: 0;">
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <a th:href="${'/index/detail/'+job.id_job+'/'+useracc[0].status+'/download/pdf/'+uaj.applicants.id_ap}" type="button" class="btn btn-outline-primary btn-sm btn-block" style="font-size: 10px;">Generate PDF</a>
                        </div>
                        <div class="col-1"></div>
                    </div>

                </div>
            </div>
        </ul>
    </nav>


    <section id="details" class="section-bg" th:each="j : ${job}">
        <div class="container">
            <div id="container" class="container">
                <div class="section-header" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-md-10 ">
                            <header class="section-header" style="margin-top: 30px;">
                            <div class="row">
                                <div class="col-1" style="margin-top: 20px;" id="arrow">
                                    <a th:href="@{/admin}"><i class="fa fa-angle-left" style="font-size:45px"></i></a>
                                </div>
                                <div class="col-10">
                                    <h3 th:text="${j.nama_job}" style="margin-top: 1em;"></h3>
                                </div>
                            </div>
                        </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row filter-active" style="margin-left: 60px; margin-right: 10px;">
            <div class="col-md-2 col-lg-2">
                <a th:href="${'/index/detail/'+j.id_job+'/'+1}">
                    <div class="box " th:classappend="${#httpServletRequest.requestURI == '/index/detail/'+job.id_job+'/1'} ? active : userclass" >
                        <div class="icon"></div>
                        <h4 class="title" th:text="${listjumlah[0]}"></h4>
                        <p class="description">Applications</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-lg-2">
                <a th:href="${'/index/detail/'+j.id_job+'/'+2}">
                    <div class="box" th:classappend="${#httpServletRequest.requestURI == '/index/detail/'+job.id_job+'/2'} ? active : userclass" >
                        <div class="icon"></div>
                        <h4 class="title" th:text="${listjumlah[1]}"></h4>
                        <p class="description">Shortlist</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-lg-2">
                <a th:href="${'/index/detail/'+j.id_job+'/'+3}">
                    <div class="box" th:classappend="${#httpServletRequest.requestURI == '/index/detail/'+job.id_job+'/3'} ? active : userclass" >
                        <div class="icon"></div>
                        <h4 class="title" th:text="${listjumlah[2]}"></h4>
                        <p class="description">For Interview</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-lg-2">
                <a th:href="${'/index/detail/'+j.id_job+'/'+4}">
                    <div class="box" th:classappend="${#httpServletRequest.requestURI == '/index/detail/'+job.id_job+'/4'} ? active : userclass" >
                        <div class="icon"></div>
                        <h4 class="title" th:text="${listjumlah[3]}"></h4>
                        <p class="description">Offered</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-lg-2">
                <a th:href="${'/index/detail/'+j.id_job+'/'+5}">
                    <div class="box" th:classappend="${#httpServletRequest.requestURI == '/index/detail/'+job.id_job+'/5'} ? active : userclass" >
                        <div class="icon"></div>
                        <h4 class="title" th:text="${listjumlah[4]}"></h4>
                        <p class="description">Hired</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-lg-2">
                <a th:href="${'/index/detail/'+j.id_job+'/'+6}">
                    <div class="box" th:classappend="${#httpServletRequest.requestURI == '/index/detail/'+job.id_job+'/6'} ? active : userclass" >
                        <div class="icon"></div>
                        <h4 class="title" th:text="${listjumlah[5]}"></h4>
                        <p class="description">Archived</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section id="testimonials" class="section-bg">
 
        
        <div class="container">
            <div class="row">
                <div th:if="${not #lists.isEmpty(useracc)}" style="float: right; margin-top: -0.3em;" class="col-12">
                    <a id="export" th:href="${'/index/detail/'+job.id_job+'/'+useracc[0].status+'/export/download'}" class="btn btn-primary" style="float: right; margin-bottom: -2em;">EXPORT
                            REPORT</a>
                </div>
            </div>
        <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
            <thead style="margin-left: 100cm !important;">
                <tr>
                  <th hidden>Applicant</th>   
                </tr>
              </thead>  
        <tbody>
            <tr th:id="'nama-'+${uaj.applicants.nama}" th:each="uaj, itemStat : ${listApplicants}">
                <td>
                   <div class="testimonial-item">
                <div class="row">
                    <div id="detailfoto" class="col-sm-1">
                        <img th:if="${uaj.applicants.data_gambar} != null" th:src="@{/__${uaj.applicants.id_ap}__/img/foto.jpg}" class="testimonial-img" style="width: 60px; height: 60px; margin-left: -5px;">
                        <i th:if="${uaj.applicants.data_gambar} == null" class="fa fa-user-circle" style="font-size:48px"></i>
                    </div>
                    <div id="detailprofil" class="col-sm-7" style="float: left;">
                        <a th:id="'sidebarCollapse-'+${uaj.applicants.nama}" th:onclick="|showup(${uaj.applicants.id_ap})|" style="margin-left: 1em;" >
                            <h6 class="judul" th:text="${uaj.applicants.nama}" style="margin-top: -20px; font-size: 25px; font-weight: bold;"></h6>
                            <h6 th:text="${uaj.applicants.alamat}" style="margin-top: -15px;"></h6>

                            <h6 th:if="${not #lists.isEmpty(viewYear[itemStat.index])}" th:text="${viewYear[itemStat.index]} + ' years ' + ${viewMonth[itemStat.index]} + ' month of experience'" style="margin-top: -15px;"></h6>

                            <div th:each="work : ${listWE[itemStat.index].workexs}">
                                <h6 th:text="${work.job}" style="font-weight: bold;"></h6>
                                <h6 th:text="${work.company}" style="margin-top: -15px;"></h6>
                            </div>
                            <div th:each="edu : ${listWE[itemStat.index].educations}">
                                <h6 th:text="${edu.major}" style="font-weight: bold;"></h6>
                                <h6 th:text="${edu.school}" style="margin-top: -15px;"></h6>
                            </div>
                        </a>
                    </div>
                    <div id="buttondetail" class="col-md-4 dropdownshow" style="">
                        
                            <a  th:if="${listUaj[itemStat.index].status == 1}" id="btnshort" type="button" class="btn btn-outline-primary"
                                th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/2'}"><i
                                class="fa fa-check" aria-hidden="true"></i>
                                Shortlist</a>
                            <a th:if="${listUaj[itemStat.index].status != 6}" id="btnreject" type="button" class="btn btn-outline-primary "
                                th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/6'}">
                                <i class="fa fa-lock"></i>
                                Reject</a>
                            <a th:if="${listUaj[itemStat.index].status == 5}" id="btnshort" type="button" class="btn btn-outline-primary"
                                th:href="@{'/index/detail/'+${job.id_job}+'/'+${listUaj[itemStat.index].status}+'/edit/'+${listUaj[itemStat.index].id_ap}}"><i
                                class="fas fa-pencil-alt"></i>
                                </i>
                                Edit</a>
                                <button id="btnreject" type="button" class="btn btn-outline-primary flex-wrap"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >More </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                            th:if="${listUaj[itemStat.index].status != 1}" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/1'}">Applications</a>
                            <a class="dropdown-item"
                            th:if="${listUaj[itemStat.index].status != 2 AND listUaj[itemStat.index].status != 1}"  th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/2'}">Shortlist</a>
                            <a class="dropdown-item"
                            th:if="${listUaj[itemStat.index].status != 3}"  th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/3'}">For
                                Interview</a>
                            <a class="dropdown-item"
                            th:if="${listUaj[itemStat.index].status != 4}" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/4'}">Offered</a>
                            <a class="dropdown-item"
                            th:if="${listUaj[itemStat.index].status != 5}" th:href="@{'/index/detail/'+${job.id_job}+'/update/'+${listUaj[itemStat.index].id_applicants_access_job}+'/5'}">Hired</a>
                        </div>
                    </div>
                </div>
            </div>

    </td>
</tr>
</tbody>
</table>
</div>
    </section>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
    <!-- JavaScript Libraries -->
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/admin/lib/mobile-nav/mobile-nav.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<!-- Contact Form JavaScript File -->
<script th:src="@{/contactform/contactform.js}"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
        </script>

      <!-- Page level plugins -->
  <script th:src="@{/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/datatables-demo.js}" src="../static/js/datatables-demo.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js">
        </script>

    <!-- Template Main Javascript File -->
    <script th:src="@{/admin/js/main.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

        });

        var penghapus;
        function hideup() {
            $('#dismiss, .overlay');
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
            $(penghapus).removeClass('d-block').addClass('d-none');
            console.log(penghapus);
        };

        function showup(id) {
            console.log('nama =' + id);
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            $('#dslider-' + id).removeClass('d-none').addClass('d-block');
            penghapus = '#dslider-' + id;
        };
    </script>

    <script>
        /*<![CDATA[*/
    let web = $('.web');
    let phone = $('.phone');
     if (window.innerWidth < 600) {
        $('.web').remove();
     } else {
        $('.phone').remove();
     }
    </script>

</body>

</html>