<!DOCTYPE html>
<html lang="en" hidden>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>List Data</title>
</head>


<body onload="exportTableToCSV('List Pelamar.csv')">
    <div>
        <table class="table table-striped table-bordered dt-responsive" th:if="${not #lists.isEmpty(applicants)}">
            <thead>
                <th><b>Nama</b></th>
                <th><b>Alamat</b></th>
                <th><b>Email</b></th>
                <th><b>Contact</b></th>
                <th><b>Pendidikan</b></th>
                <th><b>Pengalaman Kerja</b></th>
                <th><b>Deskripsi Pekerjaan</b></th>
                <th><b>Total Pengalaman Kerja</b></th>
                <th><b>Skill</b></th>
            </thead>
            <tbody>
                <tr th:each="a, iStat: ${applicants}">
                    <td th:text="${a.applicants.nama}"></td>
                    <td th:text="${a.applicants.alamat}"></td>
                    <td th:text="${a.applicants.email}"></td>
                    <td th:text="'(+62)'+${a.applicants.contact}"></td>
                    <td th:text="${a.educations[0].major}"></td>
                    <td th:if="${#lists.isEmpty(a.workexs)}">Fresh Graduate</td>
                    <td th:if="${#lists.isEmpty(a.workexs)}">-</td>
                    <td th:if="${not #lists.isEmpty(a.workexs)}" th:text="${a.workexs[0].job +'-'+ a.workexs[0].company}"> </td>
                    <td th:if="${not #lists.isEmpty(a.workexs)}" th:text="${a.workexs[0].description}"></td>
                    <td th:text="${yearDiff[iStat.index]+' '+'Tahun'+' '+ monthDiff[iStat.index]+ ' ' + 'Bulan'}">
                    </td>
                    <td th:text="${skillStrings[iStat.index]}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script th:src="@{/js/downloadCSV.js}"></script>
<script th:src="@{/js/export.js}"></script>

</html>