<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form User</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Favicons -->
    <link th:href="@{/home/img/batm.png}" rel="icon">


    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/home/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


    <!-- Libraries CSS Files -->
    <link th:href="@{/home/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/home/css/style.css}" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/home/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <link rel="stylesheet" th:href="@{/css/croppie.css}" />

    <style>
        sup {
            color: red;
        }
        
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }
        
        .btnUpload {
            border: 2px solid gray;
            color: gray;
            background-color: white;
            padding: 2px 8px;
            border-radius: 8px;
            font-size: 18px;
            font-weight: bold;
        }
        
        .btnUpload:hover {
            background-color: rgb(22, 165, 22);
        }
        
        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
        
        #uploadResume:hover {
            background-color: #5cb85c !important;
            color: white;
        }
    </style>


</head>


<body>

    <!--==========================
    Header
  ============================-->
    <header id="header" class="fixed-top" th:if="${not #lists.isEmpty(userm)}">
        <div class="container">
            <div class="logo float-left">
                <a th:href="@{/admin}" class="scrollto"><img th:src="@{/img/1x/logo.png}" alt="" class="img-fluid"></a>
            </div>
            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="drop-down"><a>Account</a>
                        <ul class="menu-active">
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a href="#" th:text="${userm.uname}"></a>
                            </li>
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a th:href="@{/logout}">Logout</a></li>
                            <li th:if="${#lists.isEmpty(userm)}">
                                <a th:href="@{/login}">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>



    <header id="header" style="background-color:black;" th:if="${#lists.isEmpty(userm)}">

        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h3>
                    <a th:href="@{/}"><img th:src="@{/home/img/logo/logobatm2.png}" alt="" title="" /></a>

                </h3>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo/logobatm.png" alt="" title="" /></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a th:href="@{/}">Home</a></li>

                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <!-- <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-background"><img th:src="@{/home/img/intro-carousel/2.jpg}" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Form Apply Job</h2>
                                <p style="font-size: 20px; width: auto;"><strong>"Please Insert your Data"</strong></p>
                                <a href="#formApplicants" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section id="formApplicants" style="margin-top: 70px;">
        <header class="section-header wow fadeInUp" style="padding-top: 20px; padding-bottom: 15px;">
            <h3>APPLICATION FOR EMPLOYMENT</h3>
        </header>

        <form autocomplete="on" class="wow fadeInUp" id="idFormUser" method="POST" th:action="@{/applicants/create}" enctype="multipart/form-data">
            <!-- Start Form Applicants -->
            <input type="text" class="form-control" th:field="*{uaj.id_applicants_access_job}" hidden>
            <input type="text" class="form-control" th:field="*{uaj.status}" hidden>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header text-center font-weight-bold">Contact Info</h5>
                        <div class="card-body">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('applicantsDto.applicants.*')}">
                                <p th:each="err : ${#fields.errors('applicantsDto.applicants.*')}" th:text="${err}"></p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <!-- <label> <sup>*</sup> must be filled</label> -->
                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                                        <div class="alert-heading">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i><strong> Information</strong><br>
                                        </div>

                                        <label style="font-size: 15px; color: #428bca;"> <strong> Field with <sup>*</sup> must be Filled</strong></label>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="form-row" th:if="${not #lists.isEmpty(jobList)}">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <label class="font-weight-bold">Job</label>
                                    <select class="form-control" th:field="*{uaj.id_job}">
                                    <option th:each="j : ${jobList}" th:value="${j.id_job}" th:text="${j.nama_job}"></option>
                                </select>
                                </div>
                            </div>
                            <div class="form-row" th:if="${#lists.isEmpty(jobList)}">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10" hidden>
                                    <label class="font-weight-bold">Job</label>
                                    <input type="text" class="form-control" th:field="*{uaj.id_job}">
                                </div>
                            </div>

                            <!-- <div class="form-row">
                            <div class="form-group col-md-1">
                                <div class="form-group col-md-2s">
                                <div class="form-group col-md-3">
                                    <img th:src="@{/img/emptyAvatar.svg}" width="100px" height="100px" style="border: 4px solid #ddd;
                                    border-radius: 4px;
                                    padding: 5px;" id="uploaded_image"></img>
                                </div>
                            </div>
                            </div> -->
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-auto" th:if="${#lists.isEmpty(applicantsDto.applicants)}">
                                    <img th:src="@{/img/SVG/akunn.svg}" width="140px" height="140px" style="border: 4px solid #ddd;
                                    border-radius: 4px;
                                    padding: 5px;" id="uploaded_image"></img>
                                </div>
                                <div class="form-group col-md-auto" th:if="${not #lists.isEmpty(applicantsDto.applicants)}">
                                    <img th:if="${applicantsDto.applicants.data_gambar} != null"
                                        class="border border-dark rounded-circle" id="uploaded_image"
                                        th:src="@{/__${applicantsDto.applicants.id_ap}__/img/foto.jpg}"
                                        style="margin-left: 10px; margin-bottom: 30px;" alt="profile">
                                    <i th:if="${applicantsDto.applicants.data_gambar} == null"
                                        class="fa fa-user-circle border border-dark rounded-circle" id="uploaded_image"
                                        style="font-size:48px; margin-left: 10px; margin-bottom: 30px;"></i>
                                </div>
                                <div class="form-group col-md-auto" style="margin-top: 1em;">
                                    <div class="upload-btn-wrapper">
                                        <button type="button" style="color: white;" class="btn btn-primary">Upload Photo</button>
                                        <input type="file" name="file" id="filejpg" accept=".jpg" required th:if="${#lists.isEmpty(applicantsDto.applicants)}" />
                                        <input value = "@{/__${applicantsDto.applicants.id_ap}__/img/foto.jpg}" type="file" name="file" id="filejpg" accept=".jpg" th:if="${not #lists.isEmpty(applicantsDto.applicants)}" />
                                    </div>
                                    <p id="uploadphotosucces" style="color: #5cb85c; margin-bottom: 3px; font-size: 16px;" hidden><span><i class="fa fa-check-circle-o" aria-hidden="true"></i></span> File upload successful</p>
                                    <p style="font-size: small; margin-top: 5px;">Acceptable only file types <span style="font-weight: bold;">.JPG , .PNG</span></p>
                                    <p style="font-size: small; margin-top: -15px;">Max file size <span style="font-weight: bold;">1MB</span></p>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-4">
                                    <input th:field="*{applicantsDto.applicants.id_ap}" type="text" class="form-control" id="test" placeholder="Name" hidden>
                                    <label class="font-weight-bold">Name<sup>*</sup></label>
                                    <input th:field="*{applicantsDto.applicants.nama}" type="text" class="form-control" id="Name" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold">Email<sup>*</sup></label>
                                    <input th:field="*{applicantsDto.applicants.email}" type="email" class="form-control" id="Email" placeholder="mail@example.com">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-3">
                                    <label class="font-weight-bold">Contact<sup>*</sup></label>
                                    <input th:field="*{applicantsDto.applicants.contact}" type="number" class="form-control" id="Contact" placeholder="08xxxxx">
                                </div>
                                <div class="form-group col-md-7">
                                    <label class="font-weight-bold">Address<sup>*</sup></label>
                                    <input th:field="*{applicantsDto.applicants.alamat}" type="text" class="form-control" id="address" placeholder="Address">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <label class="font-weight-bold">Personal Statement<sup>*</sup></label>
                                    <textarea th:field="*{applicantsDto.applicants.personal_statement}" maxlength="255" type="textarea" id="statement" class="form-control" placeholder="Max 255 Characters..."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <p style="font-size: small; margin-bottom: -10px; "><span style="font-weight:bold;">Note:</span> Your profile is the first thing recruiters see and not your uploaded resume, so make sure your profile is as complete and detailed as your uploaded resume.</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-auto">
                                    <div class="upload-btn-wrapper">
                                        <button id="uploadResume" type="button" style="color: white;" class="btn btn-primary">Upload Resume</button>
                                        <input type="file" name="file" id="filepdf" accept="application/pdf" required th:if="${#lists.isEmpty(applicantsDto.applicants)}" />
                                        <input type="file" name="file" id="filepdf" accept="application/pdf" th:if="not ${#lists.isEmpty(applicantsDto.applicants)}" />
                                    </div>
                                    <p id="uploadcvsucces" style="color: #5cb85c; margin-bottom: 3px; font-size: 16px;" hidden><span><i class="fa fa-check-circle-o" aria-hidden="true"></i></span> File upload successful</p>
                                    <p style="font-size: small;">Acceptable only file types <span style="font-weight: bold;">.PDF</span></p>
                                    <p style="font-size: small; margin-top: -15px;">Max file size <span style="font-weight: bold;">1MB</span></p>
                                </div>
                                <div class="form-group col-md-2" style="margin-top: 5px;">
                                    <p id="namefileresume" style="overflow: hidden;text-overflow: ellipsis; white-space: nowrap; font-size: 16px; font-weight: bold;" hidden></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <!-- Ending Form Applicants -->

            <!-- Start Form skills -->
            <div class="row" style="margin-top: 15px;">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header text-center font-weight-bold">Skills</h5>
                        <div class="card-body">
                            <div id="skillsList">
                                <div class="col-md-2" style="margin-left: auto; margin-bottom: 10px;">
                                    <a onclick="addSkills()" type="button" style="color: white;" class="btn btn-primary"><i
                                        class="fa fa-plus"></i></a>
                                </div>
                                <div class="form-row" style="margin-bottom: -15px;">
                                    <div class="col-md-1"></div>
                                    <div class="form-group col-5">
                                        <label class="font-weight-bold">Name of Skill<sup>*</sup></label>
                                    </div>
                                    <div class="form-group col-4">
                                        <label class="font-weight-bold">Level Skills<sup>*</sup></label>
                                    </div>
                                </div>
                                <div class="itemSkill" th:each="skill, iStat :${applicantsDto.skills}">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('applicantsDto.skills[__${iStat.index}__].*')}">
                                        <p th:each="err : ${#fields.errors('applicantsDto.skills[__${iStat.index}__].*')}" th:text="${err}"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-5 renderSkill">
                                            <div>
                                                <input type="text" class="form-control" th:field="*{applicantsDto.skills[__${iStat.index}__].id_skill}" placeholder="Name Skill" hidden>
                                                <input type="text" class="form-control mdb-autocomplete" th:field="*{applicantsDto.skills[__${iStat.index}__].skill}" placeholder="Name Skill">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 renderSkill">
                                            <div>
                                                <select class="custom-select" th:field="*{applicantsDto.skills[__${iStat.index}__].level}">
                                            <option th:value="Beginner">Beginner</option>
                                            <option th:value="Intermediate">Intermediate</option>
                                            <option th:value="Advanced">Advanced</option>
                                            <option th:value="Expert">Expert</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <a th:if="${applicantsDto.applicants.id_ap} != 0" class="btn linkdelete" th:href="@{/index/detail/__${uaj.id_job}__/__${uaj.status}__/__${applicantsDto.applicants.id_ap}__/delete/skill/__${applicantsDto.skills[iStat.index].id_skill}__}" style="background-color: transparent;"><i style="color: red;" class="fa fa-close"></i></a>
                                            <a th:unless="${applicantsDto.applicants.id_ap} != 0" class="btn linkdelete" style="background-color: transparent;"><i style="color: red;" class="fa fa-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <!-- Ending Form skills -->

            <!-- Start Form Education -->
            <div class="row" style="margin-top: 15px;">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header text-center font-weight-bold">Educations</h5>
                        <div class="card-body">
                            <div id="educationsList">
                                <div class="col-md-2" style="margin-left: auto; margin-bottom: 10px;">
                                    <a onclick="addEducations()" type="button" style="color: white;" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="itemEducations" th:each="edu, iStat :${applicantsDto.educations}">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('applicantsDto.educations[__${iStat.index}__].*') OR #fields.hasErrors('applicantsDto.educations[__${iStat.index}__]')}">
                                        <p th:each="err : ${#fields.errors('applicantsDto.educations[__${iStat.index}__]')}" th:text="${err}"></p>
                                        <p th:each="err : ${#fields.errors('applicantsDto.educations[__${iStat.index}__].*')}" th:text="${err}"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-5 renderEducation">
                                            <label class="font-weight-bold">School<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.educations[__${iStat.index}__].id_education}" type="text" class="form-control" placeholder="Name School" hidden>
                                                <input th:field="*{applicantsDto.educations[__${iStat.index}__].school}" type="text" class="form-control" placeholder="Name School">
                                            </div>

                                        </div>
                                        <div class="form-group col-md-5 renderEducation">
                                            <label class="font-weight-bold">Major<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.educations[__${iStat.index}__].major}" type="text" class="form-control" placeholder="Major">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-4 renderEducation">
                                            <label class="font-weight-bold">Start Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.educations[__${iStat.index}__].date_awal}" type="date" class="form-control" placeholder="StartDate">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 renderEducation">
                                            <label class="font-weight-bold">End Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.educations[__${iStat.index}__].date_akhir}" type="date" class="form-control" placeholder="EndDate">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-5 renderEducation">
                                            <label class="font-weight-bold">GPA<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.educations[__${iStat.index}__].description}" type="text" class="form-control" placeholder="e.g 4.00">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <a th:if="${applicantsDto.applicants.id_ap} != 0" th:href="@{/index/detail/__${uaj.id_job}__/__${uaj.status}__/__${applicantsDto.applicants.id_ap}__/delete/education/__${applicantsDto.educations[iStat.index].id_education}__}" style="color: white; margin-top: 45px;"
                                                class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                            <a th:unless="${applicantsDto.applicants.id_ap} != 0" style="color: white; margin-top: 45px;" class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <!-- Ending Form Education -->

            <!-- Start Form Work Experience -->
            <div class="row" style="margin-top: 15px;">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header text-center font-weight-bold">Work Experience</h5>
                        <div class="card-body">
                            <div id="workList">
                                <div class="col-md-2" style="margin-left: auto; margin-bottom: 10px;">
                                    <a onclick="addWork()" type="button" style="color: white;" class="btn btn-primary"><i
                                        class="fa fa-plus"></i></a>
                                </div>
                                <div class="itemWork" th:each="workex, iStat :${applicantsDto.workexs}">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('applicantsDto.workexs[__${iStat.index}__].*') OR #fields.hasErrors('applicantsDto.workexs[__${iStat.index}__]')}">
                                        <p th:each="err : ${#fields.errors('applicantsDto.workexs[__${iStat.index}__].*')}" th:text="${err}"></p>
                                        <p th:each="err : ${#fields.errors('applicantsDto.workexs[__${iStat.index}__]')}" th:text="${err}"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-5 renderWork">
                                            <label class="font-weight-bold">Job Title<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.workexs[__${iStat.index}__].id_workex}" type="text" class="form-control" placeholder="Name Job" hidden>
                                                <input th:field="*{applicantsDto.workexs[__${iStat.index}__].job}" type="text" class="form-control" placeholder="Name Job">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-5 renderWork">
                                            <label class="font-weight-bold">Company<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.workexs[__${iStat.index}__].company}" type="text" class="form-control" placeholder="Company">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-4 renderWork">
                                            <label class="font-weight-bold">Start Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.workexs[__${iStat.index}__].date_awal}" type="date" class="form-control" placeholder="StartDate">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 renderWork">
                                            <label class="font-weight-bold">End Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.workexs[__${iStat.index}__].date_akhir}" type="date" class="form-control" placeholder="EndDate">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-8 renderWork">
                                            <label>Job descriptions<sup>*</sup></label>
                                            <div>
                                                <textarea th:field="*{applicantsDto.workexs[__${iStat.index}__].description}" type="textarea" class="form-control" placeholder="e.g Valedictorian, Honorable Mention, etc."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a th:if="${applicantsDto.applicants.id_ap} != 0" th:href="@{/index/detail/__${uaj.id_job}__/__${uaj.status}__/__${applicantsDto.applicants.id_ap}__/delete/workex/__${applicantsDto.workexs[iStat.index].id_workex}__}" style="color: white; margin-top: 45px;"
                                                class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                            <a th:unless="${applicantsDto.applicants.id_ap} != 0" style="color: white; margin-top: 45px;" class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <!-- Ending Form Work Experience -->


            <!-- Start Form Training -->
            <div class="row" style="margin-top: 15px;">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header text-center font-weight-bold">Training Experience</h5>
                        <div class="card-body">
                            <div id="trainingList">
                                <div class="col-md-2" style="margin-left: auto; margin-bottom: 10px;">
                                    <a onclick="addTraining()" type="button" style="color: white;" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="itemTraining" th:each="training, iStat :${applicantsDto.trainings}">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('applicantsDto.trainings[__${iStat.index}__].*') OR #fields.hasErrors('applicantsDto.trainings[__${iStat.index}__]')}">
                                        <p th:each="err : ${#fields.errors('applicantsDto.trainings[__${iStat.index}__].*')}" th:text="${err}"></p>
                                        <p th:each="err : ${#fields.errors('applicantsDto.trainings[__${iStat.index}__]')}" th:text="${err}"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-5 renderTraining">
                                            <label class="font-weight-bold">Training Name<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.trainings[__${iStat.index}__].id_training}" type="text" class="form-control" placeholder="Name Training" hidden>
                                                <input th:field="*{applicantsDto.trainings[__${iStat.index}__].ntraining}" type="text" class="form-control" placeholder="Name Training">
                                            </div>

                                        </div>
                                        <div class="form-group col-md-5 renderTraining">
                                            <label class="font-weight-bold">Company<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.trainings[__${iStat.index}__].company}" type="text" class="form-control" placeholder="Company">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-4 renderTraining">
                                            <label class="font-weight-bold">Start Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.trainings[__${iStat.index}__].date_awal}" type="date" class="form-control" placeholder="StartDate">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 renderTraining">
                                            <label class="font-weight-bold">End Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.trainings[__${iStat.index}__].date_akhir}" type="date" class="form-control" placeholder="EndDate">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-8 renderTraining">
                                            <label>Accomplishments or descriptions (optional)</label>
                                            <div>
                                                <textarea th:field="*{applicantsDto.trainings[__${iStat.index}__].description}" type="textarea" class="form-control" placeholder="e.g Valedictorian, Honorable Mention, etc."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a th:if="${applicantsDto.applicants.id_ap} != 0" th:href="@{/index/detail/__${uaj.id_job}__/__${uaj.status}__/__${applicantsDto.applicants.id_ap}__/delete/train/__${applicantsDto.trainings[iStat.index].id_training}__}" style="color: white; margin-top: 45px;"
                                                class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                            <a th:unless="${applicantsDto.applicants.id_ap} != 0" style="color: white; margin-top: 45px;" class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <!-- Ending Form Training -->

            <!-- Start Form Certificate -->
            <div class="row" style="margin-top: 15px;">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header text-center font-weight-bold">Certificate</h5>
                        <div class="card-body">
                            <div id="certificateList">
                                <div class="col-md-2" style="margin-left: auto; margin-bottom: 10px;">
                                    <a onclick="addCertificate()" type="button" style="color: white;" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="itemCertificate" th:each="cert, iStat :${applicantsDto.certificates}">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('applicantsDto.certificates[__${iStat.index}__].*')}">
                                        <p th:each="err : ${#fields.errors('applicantsDto.certificates[__${iStat.index}__].*')}" th:text="${err}"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-5 renderCertificate">
                                            <label class="font-weight-bold">Certificate Name<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.certificates[__${iStat.index}__].id_certificate}" type="text" class="form-control" placeholder="Name Certificate" hidden>
                                                <input th:field="*{applicantsDto.certificates[__${iStat.index}__].nama_certificate}" type="text" class="form-control" placeholder="Name Certificate">
                                            </div>

                                        </div>
                                        <div class="form-group col-md-5 renderCertificate">
                                            <label class="font-weight-bold">Company<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.certificates[__${iStat.index}__].company}" type="text" class="form-control" placeholder="Company">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-4 renderCertificate">
                                            <label class="font-weight-bold">Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.certificates[__${iStat.index}__].date}" type="date" class="form-control" placeholder="StartDate">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-8 renderCertificate">
                                            <label>Accomplishments or descriptions (optional)</label>
                                            <div>
                                                <textarea th:field="*{applicantsDto.certificates[__${iStat.index}__].description}" type="textarea" class="form-control" placeholder="e.g Valedictorian, Honorable Mention, etc."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a th:if="${applicantsDto.applicants.id_ap} != 0" th:href="@{/index/detail/__${uaj.id_job}__/__${uaj.status}__/__${applicantsDto.applicants.id_ap}__/delete/cert/__${applicantsDto.certificates[iStat.index].id_certificate}__}" style="color: white; margin-top: 45px;"
                                                class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                            <a th:unless="${applicantsDto.applicants.id_ap} != 0" style="color: white; margin-top: 45px;" class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <!-- Ending Form Certificate -->


            <!-- Start Form Project -->
            <div class="row" style="margin-top: 15px;">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header text-center font-weight-bold">Projects</h5>
                        <div class="card-body">
                            <div id="projectList">
                                <div class="col-md-2" style="margin-left: auto; margin-bottom: 10px;">
                                    <a onclick="addProject()" type="button" style="color: white;" class="btn btn-primary"><i
                                        class="fa fa-plus"></i></a>
                                </div>
                                <div class="itemProject" th:each="proj, iStat :${applicantsDto.projects}">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('applicantsDto.projects[__${iStat.index}__].*') OR #fields.hasErrors('applicantsDto.projects[__${iStat.index}__]')}">
                                        <p th:each="err : ${#fields.errors('applicantsDto.projects[__${iStat.index}__].*')}" th:text="${err}"></p>
                                        <p th:each="err : ${#fields.errors('applicantsDto.projects[__${iStat.index}__]')}" th:text="${err}"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-5 renderProject">
                                            <label class="font-weight-bold">Project Name<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.projects[__${iStat.index}__].id_project}" type="text" class="form-control" placeholder="Name Project" hidden>
                                                <input th:field="*{applicantsDto.projects[__${iStat.index}__].nama_project}" type="text" class="form-control" placeholder="Name Project">
                                            </div>

                                        </div>
                                        <div class="form-group col-md-5 renderProject">
                                            <label class="font-weight-bold">Position<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.projects[__${iStat.index}__].posisi_project}" type="text" class="form-control" placeholder="Position">
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-4 renderProject">
                                            <label class="font-weight-bold">Start Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.projects[__${iStat.index}__].date_awal}" type="date" class="form-control" placeholder="EndDate">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 renderProject">
                                            <label class="font-weight-bold">End Date<sup>*</sup></label>
                                            <div>
                                                <input th:field="*{applicantsDto.projects[__${iStat.index}__].date_akhir}" type="date" class="form-control" placeholder="EndDate">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a th:if="${applicantsDto.applicants.id_ap} != 0" th:href="@{/index/detail/__${uaj.id_job}__/__${uaj.status}__/__${applicantsDto.applicants.id_ap}__/delete/project/__${applicantsDto.projects[iStat.index].id_project}__}" style="color: white; margin-top: 45px;"
                                                class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                            <a th:unless="${applicantsDto.applicants.id_ap} != 0" style="color: white; margin-top: 45px;" class="btn linkdelete"><i style="color: red;" class="fa fa-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <!-- Ending Form Project -->


            <div class="row">
                <div class="col-2"></div>
                <div class="col-8" style="margin-top: 20px; margin-bottom: 10px;">
                    <button type="submit" class="btn btn-success btn-block font-weight-bold" id="registerButton">SUBMIT ALL</button>
                </div>
                <div class="col-2"></div>
            </div>
        </form>

        <div id="uploadimageModal" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Crop Image</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-8 text-center">
                                <div id="image_demo" style="width:350px; margin-top:30px"></div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success crop_image">Crop Image</button>
                        <button id="btn-close-cropImage" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer id="footer" style="margin-top: 10px; background-color: black;" th:if="${#lists.isEmpty(userm)}">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>Bumi Amartha Teknologi Mandiri</h3>
                        <p>PT. Bumi Amartha Teknologi Mandiri or “BATM” is the enterprise’s Technology Best Partner, with best service-oriented approach throughout the entire application life cycle</p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a th:href="@{/}+'#intro'">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a th:href="@{/}+'#recruitment'">Recruitment</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a th:href="@{/}+'#gallery'">Gallery</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p style="font-size: 15px;">
                            Menara Batavia 12A Floor <br> Jl. K.H. Mas Mansyur No. Kav. 126 Karet Tengsin, Tanah Abang Jakarta 10220<br> Indonesia <br>
                            <strong>Phone:</strong> +62-813-8342-1564<br>
                            <strong>Email:</strong> <a href="https://mail.google.com/mail/#inbox/messageId">recruitment@batmandiri.com</a><br>
                        </p>

                        <div class="social-links">
                            <a th:href="@{https://twitter.com/BATMandiri}" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a th:href="@{https://www.facebook.com/bumiamarthateknologi.mandiri.35}" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a th:href="@{https://www.instagram.com/batm.pt/?igshid=1kpdohaikh6a3}" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a th:href="@{https://www.google.co.id/maps/place/PT.+Bumi+Amartha+Teknologi+Mandiri/@-6.1997199,106.7976641,14z/data=!3m1!4b1!4m5!3m4!1s0x2e69f6a0ff41879d:0x335aa55a9c777910!8m2!3d-6.1997629!4d106.8151738}" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a th:href="@{https://www.linkedin.com/company/pt-bumi-amartha-teknologi-mandiri/}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="copyright">
                Copyright &copy; 2020 by <strong>Bumi Amartha</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <script>
        $('.crop_image').click(function() {
            var image = new Image();
            image.src = $('#uploaded_image').attr('src');
            $('#filejpg').attr('value', image);
            $("#uploadphotosucces").attr("hidden", false);
        });
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        //Sweet Alert Confirm Button Submit
        $("#idFormUser").on('submit', function(e) {
            var form = this;
            e.preventDefault(); //prevent submit
            Swal.fire({
                title: 'Are you sure?',
                text: "If your Data is Correct, click Submit Form !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#5cb85c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Submit Form'
            }).then((result) => {
                if (result.value) {
                    form.submit();
                }
            });
        });

        //Upload CV
        $("#filepdf").on('change', function(e) {
            var fileName = e.target.files[0].name;
            document.getElementById("namefileresume").innerHTML = fileName;
            $("#namefileresume").attr("hidden", false);
            $("#uploadcvsucces").attr("hidden", false);
        })

        $('#btn-close-cropImage').click(function() {
            document.getElementById("filejpg").value = null;
            $('#uploaded_image').attr('src', '/img/SVG/akunn.svg');
            $("#uploadphotosucces").attr("hidden", true);
        });
    </script>

    <script th:src="@{/js/filejpgvalidate.js}"></script>
    </script>
    <script th:src="@{/js/filepdfvalidate.js}"></script>

    <script th:src="@{/js/formskills_new.js}"></script>
    <script th:src="@{/js/formeducations_new.js}"></script>
    <script th:src="@{/js/formwork_new.js}"></script>
    <script th:src="@{/js/formtraining_new.js}"></script>
    <script th:src="@{/js/formcertificate_new.js}"></script>
    <script th:src="@{/js/formproject_new.js}"></script>

    <!-- JavaScript Libraries -->
    <script th:src="@{/home/lib/jquery/jquery.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/home/lib/jquery/jquery-migrate.min.js}"></script>
    <script th:src="@{/home/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/home/lib/easing/easing.min.js}"></script>
    <script th:src="@{/home/lib/superfish/hoverIntent.js}"></script>
    <script th:src="@{/home/lib/superfish/superfish.min.js}"></script>
    <script th:src="@{/home/lib/wow/wow.min.js}"></script>
    <script th:src="@{/home/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/home/lib/counterup/counterup.min.js}"></script>
    <script th:src="@{/home/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/home/lib/isotope/isotope.pkgd.min.js}"></script>
    <script th:src="@{/home/lib/lightbox/js/lightbox.min.js}"></script>
    <script th:src="@{/home/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>
    <!-- Contact Form JavaScript File -->
    <script th:src="@{/home/contactform/contactform.js}"></script>


    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>




    <!-- Template Main Javascript File -->
    <script th:if="${#lists.isEmpty(userm)}" th:src="@{/home/js/main.js}"></script>
    <script th:src="@{/js/croppie.js}"></script>
</body>

</html>