<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PT. Bumi Amartha Teknologi Mandiri </title>
    <link th:href="@{/img/favicon-16x16.png}" rel="icon">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <!-- <link th:href="@{/img/batm_pin.png}" rel="icon">
    <link th:href="@{index.html}" th:href="@{img/batmanlogo.png}" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<!-- <script>
    $(document).ready(function () {
        $('#submit').click(function () {
            var namajob = $('#namajob').val();
            var deskripsi = $('#deskripsi').val();
            var kualifikasi = $('#kualifikasi').val();

            if (namajob == '' || deskripsi == '' || kualifikasi == '') {
                Swal.fire({
                    icon: 'warning',
                    title: 'Field Empty!',
                    text: 'Please check the missing field',
                    showConfirmButton: false,
                    timer: 4500
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'Successfully submitted',
                    showConfirmButton: false,
                    timer: 4500
                });
            }
        });
    });
</script> -->
<!-- 
<script>
    $(document).ready(function () {
        $('#cancel').click(function () {
            Swal.fire({
                title: 'Are you sure you did not continue?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        });
    });
</script> -->

<body>

    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <a th:href="@{/index}" class="scrollto"><img th:src="@{/img/1x/logo.png}" alt="" class="img-fluid"></a>
            </div>


            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="drop-down"><a>Account</a>
                        <ul>
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a href="#" th:text="${userm.uname}"></a>
                            </li>
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a th:href="@{/logout}">Logout</a></li>
                            <li th:if="${#lists.isEmpty(userm)}">
                                <a th:href="@{/login}">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="intro" class="clearfix" style="margin-bottom: -45px;">
        <div class="container"></div>
    </section>
    <main id="main">
        <section id="testimonials" class="section-bg" style="margin-top: 50px;">
            <div class="container">
                <!-- <div class="col-1" style="margin-top: 20px;" id="arrow">
                    <a th:href="@{}"><i class="fa fa-angle-left" style="font-size:45px"></i></a>
                </div> -->
                <div class="testimonial-item">
                    <header class="section-header">
                        <h2 class="" style="text-align: center;  font-weight: bold;">ADD JOB VACANCY</h2>
                    </header>

                    <form method="POST" th:action="@{/jobs/create}">
                        <div class="row">
                            <div class="col-1 mb-3"></div>
                            <div class="col-11 mb-3">
                                <div class="row">
                                    <div style="width: 350px" class="alert alert-danger alert-dismissible fade show"
                                        role="alert" th:if="${#fields.hasErrors('jobDto.job.*')}">
                                        <p th:each="err : ${#fields.errors('jobDto.job.*')}" th:text="${err}"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="col-9">
                                        <label for="question" style="float: left;  font-weight: bold;"> Job Name
                                        </label>
                                        <input type="number" hidden th:field="*{jobDto.job.id_job}">
                                        <input class="form-control" type="text" th:field="*{jobDto.job.nama_job}"
                                            value="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1 mb-3"></div>
                            <div class="col-11 mb-3 addDesc">
                                <div class="row">
                                    <div class="col-11">
                                        <label style="float: left;  font-weight: bold;">Description </label>
                                        <button id="add_description" type="button" class="btn btn-primary"
                                            style="float: right;"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="itemDesc" th:each="d, stat : *{jobDto.descriptionList}">
                                    <div class="row itemItemDesc">
                                        <div style="width: 350px;" class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('jobDto.descriptionList[__${stat.index}__].*')}">
                                            <p th:each="err : ${#fields.errors('jobDto.descriptionList[__${stat.index}__].*')}" th:text="${err}"></p>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="col-9 mb-3">
                                            <input type="number" hidden
                                                th:field="*{jobDto.descriptionList[__${stat.index}__].id_desc}">
                                            <textarea type="textarea" id="deskripsi" class="form-control"
                                                th:field="*{jobDto.descriptionList[__${stat.index}__].nama_desc}"></textarea>
                                        </div>
                                        <div class="col-1 d-flex mb-3">
                                            <a th:if="${jobDto.descriptionList[0].id_desc != 0}"
                                                class="deleteDesc mx-auto my-auto"
                                                th:href="@{/jobs/__${jobDto.job.id_job}__/delete/desc/__${jobDto.descriptionList[stat.index].id_desc}__}"><i
                                                    class="fa fa-close" style="color:red;"></i></a>
                                            <a th:unless="${jobDto.descriptionList[0].id_desc != 0}"
                                                class="deleteDesc mx-auto my-auto"><i class="fa fa-close"
                                                    style="color:red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1 mb-3"></div>
                            <div class="col-11 mb-3 addQual">
                                <div class="row">
                                    <div class="col-11">
                                        <label style="float: left;  font-weight: bold;">Qualification </label>
                                        <button id="add_qualification" type="button" class="btn btn-primary"
                                            style="float: right;"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="itemQual" th:each="q, stat : *{jobDto.qualificationList}">
                                    <div class="row itemItemQual">
                                        <div style="width: 350px;" class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('jobDto.qualificationList[__${stat.index}__].*')}">
                                            <p th:each="err : ${#fields.errors('jobDto.qualificationList[__${stat.index}__].*')}" th:text="${err}"></p>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="col-9 mb-3">
                                            <input type="number" hidden
                                                th:field="*{jobDto.qualificationList[__${stat.index}__].id_qualification}">
                                            <textarea type="textarea" id="kualifikasi" class="form-control"
                                                th:field="*{jobDto.qualificationList[__${stat.index}__].nama_qualification}"></textarea>
                                        </div>
                                        <div class="col-1 d-flex mb-3">
                                            <a th:if="${jobDto.qualificationList[0].id_qualification != 0}"
                                                class="deleteDesc mx-auto my-auto"
                                                th:href="@{/jobs/__${jobDto.job.id_job}__/delete/qual/__${jobDto.qualificationList[stat.index].id_qualification}__}"><i
                                                    class="fa fa-close" style="color:red;"></i></a>
                                            <a th:unless="${jobDto.qualificationList[0].id_qualification != 0}"
                                                class="deleteDesc mx-auto my-auto"><i class="fa fa-close"
                                                    style="color:red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                                <button style="width: 80px; margin-left: 5.5em;" id="submit"  class="btn btn-success">Submit</button>
                                <a th:href="${'/index'}" id="cancel" style="width: 80px"
                                    class="btn btn-danger">Cancel </a>
                    </form>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong>PT. Bumi Amartha Teknologi Mandiri</strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- #footer -->

    </main>


    <script>
        var addDescription = $('#add_description');
        var addQualification = $('#add_qualification');

        $(addDescription).click(function (d) {
            d.preventDefault();
            let rowIndex_Desc = document.querySelectorAll('.itemItemDesc').length;

            $('.addDesc').append(
                `<div class="row itemItemDesc">
                    <div class="col-9 mb-3">
                        <input type="number" hidden id="descriptionList${rowIndex_Desc}.id_desc" name="descriptionList[${rowIndex_Desc}].id_desc" value=0>
                        <textarea type="textarea" class="form-control" id="descriptionList${rowIndex_Desc}.nama_desc" name="descriptionList[${rowIndex_Desc}].nama_desc"></textarea>
                    </div>
                    <div class="col-1 d-flex mb-3">
                        <a class="deleteDesc mx-auto my-auto"><i class="fa fa-close" style="color:red;"></i></a>
                    </div>
                </div>`
            );

            $(".deleteDesc").click(function(e) {
            var form = this;
            e.preventDefault(); //prevent submit
            if($(this).attr('href')===undefined && ($(this).parent().parent().find('textarea').val()=='')){
                $(this).parent().parent().remove();
                $('.itemItemDesc .col-9').children().each(function (i, v) {
                    if (i % 2 == 0) {
                        v.id = 'descriptionList' + Math.floor(i / 2) + '.id_desc';
                        v.setAttribute('name', 'descriptionList[' + Math.floor(i / 2) +
                            '].id_desc');
                    } else if (i % 2 == 1) {
                        v.id = 'descriptionList' + Math.floor(i / 2) + '.nama_desc';
                        v.setAttribute('name', 'descriptionList[' + Math.floor(i / 2) +
                            '].nama_desc');
                    }
                });
            }
            else{
                Swal.fire({
                title: 'Are you sure ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#5cb85c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.value) {
                        $(this).parent().parent().remove();
                        if($(this).attr('href')===undefined){
                            return false;
                        }else{
                            window.location = $(this).attr('href');
                        }
                        $('.itemItemDesc .col-9').children().each(function (i, v) {
                            if (i % 2 == 0) {
                                v.id = 'descriptionList' + Math.floor(i / 2) + '.id_desc';
                                v.setAttribute('name', 'descriptionList[' + Math.floor(i / 2) +
                                    '].id_desc');
                            } else if (i % 2 == 1) {
                                v.id = 'descriptionList' + Math.floor(i / 2) + '.nama_desc';
                                v.setAttribute('name', 'descriptionList[' + Math.floor(i / 2) +
                                    '].nama_desc');
                            }
                        });
                    }
                });
            }
            });
        });

            $(".deleteDesc").click(function(e) {
            var form = this;
            e.preventDefault(); //prevent submit
            Swal.fire({
                title: 'Are you sure ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#5cb85c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $(this).parent().parent().remove();
                    if($(this).attr('href')===undefined){
                        return false;
                    }else{
                        window.location = $(this).attr('href');
                    }
                    $('.itemItemDesc .col-9').children().each(function (i, v) {
                        if (i % 2 == 0) {
                            v.id = 'descriptionList' + Math.floor(i / 2) + '.id_desc';
                            v.setAttribute('name', 'descriptionList[' + Math.floor(i / 2) +
                                '].id_desc');
                        } else if (i % 2 == 1) {
                            v.id = 'descriptionList' + Math.floor(i / 2) + '.nama_desc';
                            v.setAttribute('name', 'descriptionList[' + Math.floor(i / 2) +
                                '].nama_desc');
                        }
                    });
                }
                });
            });

        $(addQualification).click(function (q) {
            q.preventDefault();
            let rowIndex_Qual = document.querySelectorAll('.itemItemQual').length;

            $('.addQual').append(
                `<div class="row itemItemQual">
                    <div class="col-9 mb-3">
                        <input type="number" hidden id="qualificationList${rowIndex_Qual}.id_qualification" name="qualificationList[${rowIndex_Qual}].id_qualification" value=0>
                        <textarea type="textarea" class="form-control" id="qualificationList${rowIndex_Qual}.nama_qualification" name="qualificationList[${rowIndex_Qual}].nama_qualification"></textarea>
                    </div>
                    <div class="col-1 d-flex mb-3">
                        <a class="deleteQual mx-auto my-auto"><i class="fa fa-close" style="color:red;"></i></a>
                    </div>
                </div>`
            );

            $(".deleteQual").click(function(e) {
            var form = this;
            e.preventDefault(); //prevent submit
            if($(this).attr('href')===undefined && $(this).parent().parent().find('textarea').val()==''){
                $(this).parent().parent().remove();
                $('.itemItemQual .col-9').children().each(function (i, v) {
                        if (i % 2 == 0) {
                            v.id = 'qualificationList' + Math.floor(i / 2) + '.id_qualification';
                            v.setAttribute('name', 'qualificationList[' + Math.floor(i / 2) +
                                '].id_qualification');
                        } else if (i % 2 == 1) {
                            v.id = 'qualificationList' + Math.floor(i / 2) + '.nama_qualification';
                            v.setAttribute('name', 'qualificationList[' + Math.floor(i / 2) +
                                '].nama_qualification');
                        }
                    });
            }else{
                Swal.fire({
                title: 'Are you sure ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#5cb85c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.value) {
                        $(this).parent().parent().remove();
                        if($(this).attr('href')===undefined){
                            return false;
                        }else{
                            window.location = $(this).attr('href');
                        }
                        $('.itemItemQual .col-9').children().each(function (i, v) {
                            if (i % 2 == 0) {
                                v.id = 'qualificationList' + Math.floor(i / 2) + '.id_qualification';
                                v.setAttribute('name', 'qualificationList[' + Math.floor(i / 2) +
                                    '].id_qualification');
                            } else if (i % 2 == 1) {
                                v.id = 'qualificationList' + Math.floor(i / 2) + '.nama_qualification';
                                v.setAttribute('name', 'qualificationList[' + Math.floor(i / 2) +
                                    '].nama_qualification');
                            }
                        });
                    }
                });
            }
            });
        });


            $(".deleteQual").click(function(e) {
            var form = this;
            e.preventDefault(); //prevent submit
            Swal.fire({
                title: 'Are you sure ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#5cb85c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $(this).parent().parent().remove();
                    if($(this).attr('href')===undefined){
                        return false;
                    }else{
                        window.location = $(this).attr('href');
                    }
                    $('.itemItemQual .col-9').children().each(function (i, v) {
                        if (i % 2 == 0) {
                            v.id = 'qualificationList' + Math.floor(i / 2) + '.id_qualification';
                            v.setAttribute('name', 'qualificationList[' + Math.floor(i / 2) +
                                '].id_qualification');
                        } else if (i % 2 == 1) {
                            v.id = 'qualificationList' + Math.floor(i / 2) + '.nama_qualification';
                            v.setAttribute('name', 'qualificationList[' + Math.floor(i / 2) +
                                '].nama_qualification');
                        }
                    });
                }
                });
            });
    </script>


        <!-- JavaScript Libraries -->
        <script th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/lib/easing/easing.min.js}"></script>
        <script th:src="@{/lib/mobile-nav/mobile-nav.js}"></script>
        <script th:src="@{/lib/wow/wow.min.js}"></script>
        <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/lib/counterup/counterup.min.js}"></script>
        <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
        <script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
        <script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
        <!-- Contact Form JavaScript File -->
        <script th:src="@{/contactform/contactform.js}"></script>

        <!-- Template Main Javascript File -->
        <script th:href="@{/js/main.js}"></script>

  


</body>

</html>