<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PT. Bumi Amartha Teknologi Mandiri </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon-16x16.png" rel="icon">
    <link href="img/favicon-16x16.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    
    <script language="javascript" type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>
        $(document).ready(function () {
            $('#filterOptions button').click(function () {

                $('#filterOptions a').click(function () {
                    let timerInterval
                    Swal.fire({
                        title: 'Loading ...',
                        html: ' ',
                        timer: 500,
                        timerProgressBar: true,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                            timerInterval = setInterval(() => {
                                Swal.getContent().querySelector('b')
                                    .textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        onClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {
                        if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.timer
                        ) {
                            var ourClass = $(this).attr('class');

                            $('#filterOptions a').removeClass('active');
                            $(this).parent().addClass('active');

                            if (ourClass == 'dropdown-item all') {
                                $('#container-isi').children().show();
                            } else {
                                $('#container-isi').children().each(function (i, v) {
                                    if (v.getAttribute('class') != ourClass) {
                                        v.setAttribute('style', 'display:none')
                                    } else {
                                        v.setAttribute('style', 'display')
                                    }
                                });
                            }
                        }
                    });

                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".follow").click(function () {
                Swal.fire({
                    icon: 'success',
                    title: 'The job has been changed',
                    showConfirmButton: false,
                    timer: 18000
                });
            });
        });
    </script>



</head>

<body>
    <!--==========================
  Header
  ============================-->
    <header id="header" class="fixed-top">
        <p id="successSubmit" th:text="${message}" hidden></p>
        <div class="container">

            <div class="logo float-left">
                <a href="" class="scrollto">
                    <img href="index.html" src="img/1x/logo.png" alt="" srcset="">
                </a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="nav-item drop-down"><a>Account</a>
                        <ul>
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a href="#" th:text="${userm.uname}"></a>
                            </li>
                            <li th:if="${not #lists.isEmpty(userm)}">
                                <a th:href="@{/logout}">Logout</a></li>
                            <li th:if="${#lists.isEmpty(userm)}">
                                <a th:href="@{/login}">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info" style="margin-top: 50px;">
        <h2>PT. Bumi Amartha Teknologi Mandiri</h2>
      </div>

    </div>
  </section>

    <!--==========================
      Services Section
    ============================-->
    <div id="content">
        <section id="services" class="section-bg">
            <div class="container">
                <section id="portfolio" class="clearfix">
                    <div class="container">
                        <!-- public -->
                        <div class="row" id="public">
                            <div class="col-lg-12">

                                <ul id="portfolio-flters" th:if="${not #lists.isEmpty(userm)}">
                                    <a th:href="@{/index}" th:if="${userm.id_role != 1}">
                                        <li data-filter="" th:class="${classActiveSettings}" style="color: aliceblue;">
                                            <i class="fa fa-address-card"></i> IT Professional </li>
                                    </a>
                                    <a th:href="@{/index2}" th:if="${userm.id_role != 2}">
                                        <li data-filter="" th:class="${classActiveSettings1}" style="color: aliceblue;">
                                            <i class="fa fa-pencil"></i> IT GDP</li>
                                    </a>

                                </ul>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-4">
                                <header class="section-header" th:if="${not #lists.isEmpty(userm)}">
                                    <div class="row" >
                                            <a th:href="${'/index/detail/'+userm.id_role+'/'+1+'/applicants/createnew'}" id="btnpostjob" type="button" class="btn btn-outline-primary" style="margin-bottom: 0px;">Add Candidate</a>
                                            <a th:if="${userm.id_role != 1}" th:href="@{index/jobs/create}" id="btnpostjob" type="button" class="btn btn-primary" style="margin-bottom: 0px;">Post A Public Job</a>
                                    </div>
                                </header>
                            </div>

                            <div class="col-8" th:if="${not #lists.isEmpty(userm)}">
                                <div style="float:right; margin-top: 15px;" id="filterOptions">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item all" href="#">All</a>
                                        <a class="dropdown-item 1" href="#">Active</a>
                                        <a class="dropdown-item 0" href="#">Inactive</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <!---Isi List-->
                <div id="container-isi">
                    <div id="container-dalam" th:class="'dropdown-item ' + ${j.is_active}" th:each="j,iStat : ${listJob}">
                        <div class="section-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <header class="section-header" >
                                        <h3 th:text="${j.nama_job}"></h3>
                                        <p1>Central Jakarta, Indonesia</p1>
                                    </header>
                                </div>
                                <div class="col-md-6">
                                    <div class="follow">
                                        <a id="follow" type="button" class="btn btn-outline-primary follow" th:if="${j.is_active == 0}" th:href="${'/index/detail/'+j.id_job+'/jobs/activate'}">Inactive</a>
                                    </div>
                                    <div class="follow">
                                        <a id="follow" type="button" class="btn btn-primary follow" th:if="${j.is_active == 1}" th:href="${'/index/detail/'+j.id_job+'/jobs/deactivate'}">Actived</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2">
                                <a th:href="${'/index/detail/'+j.id_job+'/'+1}">
                                    <div class="box">
                                        <div class="icon"></div>
                                        <h4 class="title" th:text="${listjumlah[iStat.index][0]}"></h4>
                                        <p class="description">Applications</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <a th:href="${'/index/detail/'+j.id_job+'/'+2}">
                                    <div class="box">
                                        <div class="icon"></div>
                                        <h4 class="title" th:text="${listjumlah[iStat.index][1]}"></h4>
                                        <p class="description">Shortlist</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <a th:href="${'/index/detail/'+j.id_job+'/'+3}">
                                    <div class="box">
                                        <div class="icon"></div>
                                        <h4 class="title" th:text="${listjumlah[iStat.index][2]}"></h4>
                                        <p class="description">For Interview</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <a th:href="${'/index/detail/'+j.id_job+'/'+4}">
                                    <div class="box">
                                        <div class="icon"></div>
                                        <h4 class="title" th:text="${listjumlah[iStat.index][3]}"></h4>
                                        <p class="description">Offered</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <a th:href="${'/index/detail/'+j.id_job+'/'+5}">
                                    <div class="box">
                                        <div class="icon"></div>
                                        <h4 class="title" th:text="${listjumlah[iStat.index][4]}"></h4>
                                        <p class="description">Hired</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <a th:href="${'/index/detail/'+j.id_job+'/'+6}">
                                    <div class="box">
                                        <div class="icon"></div>
                                        <h4 class="title" th:text="${listjumlah[iStat.index][5]}"></h4>
                                        <p class="description">Archived</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <a th:href="${'/index/detail/'+j.id_job+'/jobs/views'}" id="btn2" type="button" class="btn btn-outline-primary">View</a>
                                    <a th:href="${'/index/detail/'+j.id_job+'/jobs/edit'}" id="btn2" type="button" class="btn btn-outline-primary">Edit</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="" style="background-color: aqua;">
                </div>
        </section>
        </div>

        <!-- #footer -->
        <footer id="footer">
            <div class="container">
              <div class="copyright">
                &copy; Copyright <strong>PT. Bumi Amartha Teknologi Mandiri</strong>. All Rights Reserved
              </div>
            </div>
          </footer><!-- #footer -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/mobile-nav/mobile-nav.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <!-- Contact Form JavaScript File -->
        <script src="contactform/contactform.js"></script>

        <!-- Template Main Javascript File -->
        <script src="js/main.js"></script>

  



     
        <!-- <script th:inline="javascript">
    /*<![CDATA[*/

    // var m = [[${userm}]];
    // console.log(m);

    /*]]>*/
</script> -->

<!-- <script>
    $('.btn-primary').on("click", function () {
        $('.price-filter-active').not(this).removeClass('price-filter-active');
        $(this).toggleClass('price-filter-active');
    })
</script> -->

    <script>
    $(document).ready(function () {
                if ($('#successSubmit').is(':empty')) {
                    return false;
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Successfully submitted',
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
            });
    </script>
</body>

</html>