<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PT. Bumi Amartha Teknologi Mandiri | Recruitment</title>
    <link th:href="@{/home/img/batm.png}" rel="icon">
    <link th:href="@{/img/batmanlogo.png}" rel="apple-touch-icon">
    <style>
        .header,
        .header-space {
            height: 100px;
        }

        .footer,
        .footer-space {
            height: 50px;
        }

        .header {
            position: fixed;
            top: 0;
        }

        .footer {
            position: fixed;
            bottom: 0;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(window).on("load", function () {
            window.print();
            setTimeout(function () {
                window.location = window.history.back();
            }, 1000);
        });
    </script>
    <style>
        #content {
            display: table;
        }

        #pageFooter {
            display: table-footer-group;
            margin-bottom: 10px;
        }

        #pageFooter:after {
            left: 0;
            top: 100%;
            white-space: nowrap;
            z-index: 20;
            -moz-border-radius: 5px;
            -moz-box-shadow: 0px 0px 4px #222;
            background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
        }

        body {
            -webkit-print-color-adjust: exact !important;
        }

        @media screen {

            body {
                visibility: hidden;
            }

        }

        @media print {
            tfoot {
                visibility: hidden;
            }

            div#footer_wrapper {
                margin: 0px 2px 0px 7px;
                position: fixed;
                bottom: 0;
            }

            div#footer_content {
                font-weight: bold;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <td>
                        <div class="header-space"></div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100vw">
                        <div class="row mb-3">
                            <div class="col-10">
                                <img th:src="@{/img/background.png}" height="50px" width="785px" alt=""
                                    style="position: absolute; z-index: -1;">
                                <h2 style="font-size: 30px; color: rgb(254, 254, 254); position: relative; z-index: 10; font-weight: bolder;"
                                    class="p-2" th:text="${applicants.nama}"></h2>
                                <h5 class="p-2 text-justify" style="font-size: 24px;"
                                    th:text="${applicants.personal_statement}">
                                </h5>
                            </div>
                            <div class="col-2">
                                <img th:src="@{/__${applicants.id_ap}__/img/foto.jpg}" th:alt="${applicants.nama}"
                                    width="150px" height="150px" class="rounded-circle">
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width: 100vw">
                        <!-- Row name, address, phone number, email, and profile picture -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <img th:src="@{/img/background-1.png}" height="50px" width="960" alt=""
                                    style="position: absolute; z-index: -1;">
                                <h2 style="font-size: 26px; color: black; font-weight: bolder; position: relative; z-index: 1;"
                                    class="p-2 text-uppercase">Skill</h2>
                            </div>
                        </div>
                        <div class="row" th:each="s: ${skills}">
                            <div class="ml-3 col-6 mt-2">
                                <p style="font-size: 24px; line-height: 1px;" th:text="${s.skill}"></p>
                            </div>
                            <div class="col-2" th:switch="${s.level}">
                                <p th:case="'Beginner'" style="font-size: 24px; line-height: 1px;"><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
                                <p th:case="'Intermediate'" style="font-size: 24px; line-height: 1px;"><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
                                <p th:case="'Advanced'" style="font-size: 24px; line-height: 1px;"><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                        aria-hidden="true"></i></p>
                                <p th:case="'Expert'" style="font-size: 24px; line-height: 1px;"><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                        <!-- End of row name, adress, phone number, email, and profile picture -->
                    </td>
                </tr>
                <tr>
                    <td style="width: 100vw">
                        <!-- Row name, address, phone number, email, and profile picture -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <img th:src="@{/img/background-1.png}" height="50px" width="960" alt=""
                                    style="position: absolute; z-index: -1;">
                                <h2 style="color:black;font-size: 26px; font-weight: bolder; position: relative; z-index: 1;"
                                    class="p-2 text-uppercase">Employment History</h2>
                            </div>
                        </div>
                        <div class="row" th:each="w: ${workex}">
                            <div class="col-1"></div>
                            <div class="col-11">
                                <p style="font-size: 24px; font-weight: bolder;" th:text="${w.company}"></p>
                                <p style="font-size: 24px; font-weight: bolder; margin-top: -20px;" th:text="${#dates.monthName(w.date_awal) + ' ' + #dates.year(w.date_awal) + ' - ' + #dates.monthName(w.date_akhir) + ' ' + #dates.year(w.date_akhir)}"></p>
                                <p style="font-size: 24px; font-weight: bolder; margin-top: -20px;" th:text="'Position : ' + ${w.job}"></p>
                                <p style="font-size: 24px; font-weight: bolder; margin-top: -20px;">Job Desc : </p>
                                <p style="font-size: 24px; margin-top: -20px; margin-left: 10px;" th:text="${w.description}"></p>
                                
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100vw">
                        <!-- Row name, address, phone number, email, and profile picture -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <img th:src="@{/img/background-1.png}" height="50px" width="960" alt="" style="position: absolute; z-index: -1;">
                                <h2 style="color:black;font-size: 26px; font-weight: bolder; position: relative; z-index: 1;" class="p-2 text-uppercase">Project</h2>
                            </div>
                        </div>
                        <div class="row" th:each="p: ${projects}">
                            <div class="col-1"></div>
                            <div class="col-11">
                                <p style="font-size: 24px; font-weight: bolder;" th:text="'Nama Project : ' + ${p.nama_project}"></p>
                                <p style="font-size: 24px; font-weight: bolder; margin-top: -20px;" th:text="${#dates.monthName(p.date_awal) + ' ' + #dates.year(p.date_awal) + ' - ' + #dates.monthName(p.date_akhir) + ' ' + #dates.year(p.date_akhir)}"></p>
                                <p style="font-size: 24px; font-weight: bolder; margin-top: -20px;" th:text="'Position : ' + ${p.posisi_project}"></p>
                                
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100vw">
                        <!-- Row name, address, phone number, email, and profile picture -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <img th:src="@{/img/background-1.png}" height="50px" width="960" alt="" style="position: absolute; z-index: -1;">
                                <h2 style="color:black; font-size: 26px; font-weight: bolder; position: relative; z-index: 1;" class="p-2 text-uppercase">Certifcations</h2>
                            </div>
                        </div>
                        <div class="row" th:each="c: ${certificates}">
                            <div class="col-2 ml-3 mt-2">
                                <p style="font-size: 24px;" th:text="${#dates.year(c.date)}"></p>
                            </div>
                            <div class="col-7 mt-2">
                                <p style="font-size: 24px;" class="text-capitalize" th:text="${c.nama_certificate} + ' / ' + ${c.company} + ' / ' + ${c.description}"></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100vw">
                        <!-- Row name, address, phone number, email, and profile picture -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <img th:src="@{/img/background-1.png}" height="50px" width="960" alt="" style="position: absolute; z-index: -1;">
                                <h2 style="color:black; font-size: 26px; font-weight: bolder; position: relative; z-index: 1;" class="p-2 text-uppercase">Education</h2>
                            </div>
                        </div>
                        <div class="row" th:each="e: ${education}">
                            <div class="col-2 ml-3 mt-2">
                                <p style="font-size: 24px;" th:text="${#dates.year(e.date_awal) + ' - ' + #dates.year(e.date_akhir)}"></p>
                            </div>
                            <div class="col-7 mt-2">
                                <p style="font-size: 24px;" class="text-capitalize" th:text="${e.school} + ' / ' + ${e.major} + ' / ' + ${e.description}"></p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="footer-space"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="header"><img th:src="@{/img/batm.png}" height="70px"></div>
        <div class="footer" id="pageFooter">Copyright &copy; 2020 by <strong>Bumi Amartha</strong>. All Rights Reserved</div>
    </div>

</body>

</html>