<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PT. Bumi Amartha Teknologi Mandiri </title>
    <link th:href="@{/img/favicon-16x16.png}" rel="icon">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link th:src="@{/img/favicon-16x16.png}" rel="icon">
    <link th:src="@{/img/favicon-16x16.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
    <header id="header" class="fixed-top">
        <div class="container">


            <div class="logo float-left">
                <a th:href="@{/index}" class="scrollto"><img th:src="@{/img/1x/logo.png}" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="drop-down"><a href="">Account</a>
                        <ul>
                            <li><a href="#">Profil</a></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="intro" class="clearfix" style="margin-bottom: -45px;">
        <div class="container"></div>
    </section>

    <main id="main">
        <section id="testimonials" class="section-bg" style="margin-top: 50px;">
            <div class="container">
                <div class="testimonial-item">
                    <div>
                        <table>
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2 th:text="${job.nama_job}">
                                            <h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table th:if="${not #lists.isEmpty(desc_id_job)}">
                            <thead>
                                <tr><b> Description </b></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <ul th:each="d: ${desc_id_job}">
                                        <li th:text="${d.nama_desc}"></li>
                                    </ul>
                                </tr>
                            </tbody>
                        </table>

                        <table th:if="${not #lists.isEmpty(qual_id_job)}">
                            <thead>
                                <tr><b> Qualification </b> </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <ul th:each="q: ${qual_id_job}">
                                        <li th:text="${q.nama_qualification}">

                                        </li>
                                    </ul>
                                </tr>
                            </tbody>
                        </table>
                        <a th:href="${'/admin'}" id="btn2" type="button" class="btn btn-outline-primary">Back</a>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
              <div class="copyright">
                &copy; Copyright <strong>PT. Bumi Amartha Teknologi Mandiri</strong>. All Rights Reserved
              </div>
            </div>
          </footer>
    </main>

</script>


<!-- JavaScript Libraries -->
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/admin/lib/mobile-nav/mobile-nav.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<!-- Contact Form JavaScript File -->
<script th:src="@{/contactform/contactform.js}"></script>

<!-- Template Main Javascript File -->
<script th:href="@{/js/main.js}"></script>

</body>

</html>