<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Applicant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div th:text="${applicants.nama}"></div>
        <div th:text="${applicants.alamat}"></div>
        <div th:text="${applicants.personal_statement}"></div>
        <div th:if="${not #lists.isEmpty(yearDif)}">
           
            <td th:text="${yearDif} + ' years'"></td>
            <td th:text="${monthDif} + ' month of experience'"></td>
     
    </div>

        <div style="margin-top: 10px;"><b>Work History</b></div>
        <div th:each="we : ${workex}" style="margin-bottom: 10px;">
            <div th:text="${we.job}"></div>
            <div>
                <td th:text="${we.company}"></td>
                <td th:text="${#dates.monthName(we.date_awal) + ' ' + #dates.year(we.date_awal) + ' - ' + #dates.monthName(we.date_akhir) + ' ' + #dates.year(we.date_akhir)}"></td>
            </div>
            <div th:text="${we.description}"></div>
        </div>
        <div style="margin-top: 10px;"><b>Educations</b></div>
        <div th:each="edu : ${educations}" style="margin-bottom: 10px;">
            <div th:text="${#dates.monthName(edu.date_awal) + ' ' + #dates.year(edu.date_awal) + ' - ' + #dates.monthName(edu.date_akhir) + ' ' + #dates.year(edu.date_akhir)}">
                </div>
                <td>
                    <div th:text="${edu.major}"></div>
                    <div th:text="${edu.school}"></div>
                </td>
            
    

        </div>
        <div style="margin-top: 10px;"><b>Skills</b></div>
        <div th:each="s : ${skills}" style="margin-bottom: 10px;">
                <td>
                    <div th:text="${s.skill}"></div>
                    <div th:text="${s.level}"></div>
                </td>
        </div>
        <div th:each="ap, itemStat : ${applicants}" style="margin-top: 20px;">
            <div class="dropdown" style="margin-bottom: 10px;">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" th:href="@{'/listJob/listApplicants/update/'+${uaj[itemStat.index].id_user_access_job}+'/1'}">Applications</a>
                  <a class="dropdown-item" th:href="@{'/listJob/listApplicants/update/'+${uaj[itemStat.index].id_user_access_job}+'/2'}">Shortlist</a>
                  <a class="dropdown-item" th:href="@{'/listJob/listApplicants/update/'+${uaj[itemStat.index].id_user_access_job}+'/3'}">For Interview</a>                          
                  <a class="dropdown-item" th:href="@{'/listJob/listApplicants/update/'+${uaj[itemStat.index].id_user_access_job}+'/4'}">Offered</a>                          
                  <a class="dropdown-item" th:href="@{'/listJob/listApplicants/update/'+${uaj[itemStat.index].id_user_access_job}+'/5'}">Hired</a>
                </div>

              </div>
              <div><a class="btn btn-dark" th:href="@{'/listJob/listApplicants/update/'+${uaj[itemStat.index].id_user_access_job}+'/6'}">Reject</a></div>
        </div>      


    </div>
    </div>
    <div>
        <a th:href="${'/download/dynamic/'+applicants.id_ap}"class="btn btn-success">Generate PDF</a>
    </div>


 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>