<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Recruitment - PT. Bumi Amartha Teknologi Mandiri</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link th:href="@{/home/img/batm.png}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/home/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/home/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/home/css/style.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    ======================================================= -->
    <style>
        @media (max-width: 600px) {
            .card-whatsapp {
                width: 250px !important;
            }
            .card-whatsapp img {
                height: 100px !important;
                width: 200px !important;
            }
            p {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <div id="whatsapp">
        <a>
            <img th:src="@{/img/wap.svg}" style="z-index: 11; left: 30px; bottom:30px; position: fixed;" height="70px">
        </a>
    </div>

    <div class="card card-whatsapp" style="z-index: 12; position: fixed; left: 30px; bottom: 30px; width: 400px; display: none; border-radius: 20px; background-color: transparent;">
        <div class="card-header" style="background-color: #2E8C7D; color: white; border-top-left-radius: 20px; border-top-right-radius: 20px">
            <i class="fa fa-whatsapp" style="font-size: 25px; color: white; margin-right: 10px;"></i>
            <h5 style="display:inline; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Whatsapp</h5>
            <a id="btn-wa-close">
                <i class="fa fa-close" style="font-size: 20px; color: white; margin-right: 10px; float:right"></i>
            </a>
        </div>
        <div class="card-body" th:style="'background-image: url(' + @{/img/background-wa.png} + '); border-bottom-left-radius:20px; border-bottom-right-radius:20px'">
            <p style="z-index: 13; position: absolute; margin-top: 30px; margin-left: 50px;">Hello, <br> Can I Help You?
            </p>
            <img th:src="@{/img/buble.png}" width="350px" height="150px" alt="">
            <a id="wa-link" href="#" target="__blank" class="btn btn-primary mt-4" style="background-color: #2E8C7D;"> <i class="fa fa-send" style="margin-right: 10px;"></i> Open chat with recruiter
            </a>
        </div>
    </div>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <a th:href="@{/}">
                    <img th:src="@{/home/img/logo/logobatm.png}" alt="" title="" />
                </a>
                <!-- <a class="scrollto">Bumi Amartha Teknologi Mandiri</a> -->
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo/logobatm.png" alt="" title="" /></a> -->
            </div>

            <nav id="nav-menu-container">
                <p id="messageText" th:text="${message}" hidden></p>
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#recruitment">Recruitment</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#aboutUs">About Us</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">

        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="carousel-background"><img th:src="@{/home/img/intro-carousel/1.jpg}" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>We Are Professional</h2>
                                <h4 style="color : white"><strong>"The only way to do great work is to love what you do"
                                        - Steve Jobs
                                    </strong></h4>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img th:src="@{/home/img/intro-carousel/2.jpg}" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Build Your Dream Career</h2>
                                <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
                                    debitis aut.</p> -->

                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img th:src="@{/home/img/intro-carousel/3.jpg}" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Find Your Experience Working</h2>
                                <!-- <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem
                                    accusantium.
                                </p> -->
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img th:src="@{/home/img/intro-carousel/4.jpg}" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Find Your Job Opportunities</h2>
                                <!-- <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                                    quis nostrum.</p> -->

                            </div>
                        </div>
                    </div>

                    <!-- <div class="carousel-item">
                        <div class="carousel-background"><img src="img/intro-carousel/5.jpg" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Magnam aliquam quaerat</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                </p>

                            </div>
                        </div>
                    </div> -->

                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section>
    <!-- #intro -->

    <main id="main">
        <!--==========================
      Recruitment Section
    ============================-->
        <section id="recruitment">
            <div class="container">

                <header class="section-header">
                    <h3>Recruitment</h3>
                    <br><br>
                </header>

                <div class="row about-cols">

                    <!-- <div class="col-md-1 wow fadeInUp" data-wow-delay="0.2s">
                    </div> -->

                    <div class="col-md-6 wow fadeInUp">
                        <a th:href="${'/home/view/'+1}" style="text-decoration: none;">
                            <div class="about-col">
                                <div class="img">
                                    <img th:src="@{/home/img/itgdp.jpg}" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-list-outline"></i></div>
                                </div>
                                <h2 class="title">IT Graduate Development Program
                                </h2>
                                <p>PT. Bumi Amartha Teknologi Mandiri or “BATM” is the enterprise’s Technology Best Partner, with best service-oriented approach throughout the entire application life cycle.
                                </p>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s">
                    </div> -->
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a th:href="${'/home/pageProfesional'}" style="text-decoration: none;">
                            <div class="about-col">
                                <div class="img">
                                    <img th:src="@{/home/img/pro.jpg}" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-list-outline"></i></div>
                                </div>
                                <h2 class="title">IT Professional</h2>
                                <p>PT. Bumi Amartha Teknologi Mandiri or “BATM” is the enterprise’s Technology Best Partner, with best service-oriented approach throughout the entire application life cycle.
                                </p>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="col-md-1 wow fadeInUp" data-wow-delay="0.2s">
                    </div> -->
                </div>
            </div>
        </section>
        <!-- #recruitment -->

        <!--==========================
      Gallery Section
    ============================-->
        <section id="gallery" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">Gallery</h3>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter=".filter-office" class="filter-active">Office</li>
                            <li data-filter=".filter-gdp"> GDP Class</li>
                            <li data-filter="*">All</li>

                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-office wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/kantor.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/kantor.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">Office</a></h4>
                                <p>PT. Bumi Amartha Teknologi Mandiri</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-office wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/google.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/google.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">Office</a></h4>
                                <p>PT. Bumi Amartha Teknologi Mandiri</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-office wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/lobby.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/lobby.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">Office</a></h4>
                                <p>PT. Bumi Amartha Teknologi Mandiri</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-all wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/2.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/2.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>PT. Bumi Amartha Teknologi Mandiri</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-all wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/1.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/1.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>PT. Bumi Amartha Teknologi Mandiri</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-all wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/3.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/3.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>PT. Bumi Amartha Teknologi Mandiri</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/9.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/9.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/6.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/6.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/5.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/5.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/8.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/8.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/4.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/4.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="home/img/portfolio/7.jpg" class="img-fluid" alt="">
                                <a href="home/img/portfolio/7.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow ">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/foto4.jpg" class="img-fluid" alt="">
                                <a href="img/portfolio/foto4.jpg" data-lightbox="portfolio" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/foto3.jpg" class="img-fluid" alt="">
                                <a href="img/portfolio/foto3.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/foto5.jpg" class="img-fluid" alt="">
                                <a href="img/portfolio/foto5.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/foto1.jpg" class="img-fluid" alt="">
                                <a href="img/portfolio/foto1.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/foto2.jpg" class="img-fluid" alt="">
                                <a href="img/portfolio/foto2.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-gdp wow">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/portfolio/foto6.jpg" class="img-fluid" alt="">
                                <a href="img/portfolio/foto6.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>

                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="#">BATMans</a></h4>
                                <p>IT Graduate Development Program</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- #gallery -->

    </main>
    <!--==========================
    Footer
  ============================-->
    <section id="aboutUs" class="section-bg mt-n5">
        <header class="section-header">
            <h3 class="section-title">About Us</h3>
        </header>
        <br>
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 footer-info">
                            <h3>Bumi Amartha Teknologi Mandiri</h3>
                            <p>PT. Bumi Amartha Teknologi Mandiri or “BATM” is the enterprise’s Technology Best Partner, with best service-oriented approach throughout the entire application life cycle.</p>
                        </div>

                        <div class="col-lg-4 col-md-6" id="nav-menu-container">
                            <h4>Useful Links</h4>
                            <ul class="nav-menu">
                                <div class="row">
                                    <li><a href="#recruitment" hidden>Recruitment</a></li>
                                </div>
                                <div class="row">
                                    <li><a class="text-capitalize" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: lighter; font-size: 15px;" href="#intro">Home</a></li>
                                </div>
                                <div class="row">
                                    <li><a class="text-capitalize" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: lighter; font-size: 15px;" href="#recruitment">Recruitment</a></li>
                                </div>
                                <div class="row">
                                    <li><a class="text-capitalize" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: lighter; font-size: 15px;" href="#gallery">Gallery</a></li>
                                </div>
                            </ul>
                        </div>

                        <div class="col-lg-4 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                Menara Batavia 12A Floor <br> Jl. K.H. Mas Mansyur No. Kav. 126 Karet Tengsin, Tanah Abang Jakarta 10220<br> Indonesia <br>
                                <strong>Phone:</strong> +62-813-8342-1564<br>
                                <strong>Email:</strong><a href="https://mail.google.com/mail/#inbox/messageId">
                                    recruitment@batmandiri.com</a><br>
                            </p>

                            <div class="social-links">
                                <a th:href="@{https://twitter.com/BATMandiri}" target="__blank" class="twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a th:href="@{https://www.facebook.com/bumiamarthateknologi.mandiri.35}" target="__blank" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a th:href="@{https://www.instagram.com/batm.pt/?igshid=1kpdohaikh6a3}" target="__blank" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a th:href="@{https://batmandiri.com/wpbatm/}" target="__blank" class="google-plus"><i
                                        class="fa fa-google-plus"></i></a>
                                <a th:href="@{https://www.linkedin.com/company/pt-bumi-amartha-teknologi-mandiri/}" target="__blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="copyright">
                    Copyright &copy; 2020 by <strong>Bumi Amartha</strong>. All Rights Reserved
                </div>

            </div>
        </footer>
    </section>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script th:src="@{/home/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/home/lib/jquery/jquery-migrate.min.js}"></script>
    <script th:src="@{/home/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/home/lib/easing/easing.min.js}"></script>
    <script th:src="@{/home/lib/superfish/hoverIntent.js}"></script>
    <script th:src="@{/home/lib/superfish/superfish.min.js}"></script>
    <script th:src="@{/home/lib/wow/wow.min.js}"></script>
    <script th:src="@{/home/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/home/lib/counterup/counterup.min.js}"></script>
    <script th:src="@{/home/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/home/lib/isotope/isotope.pkgd.min.js}"></script>
    <script th:src="@{/home/lib/lightbox/js/lightbox.min.js}"></script>
    <script th:src="@{/home/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>
    <!-- Contact Form JavaScript File -->
    <script th:src="@{/home/contactform/contactform.js}"></script>

    <!-- Template Main Javascript File -->
    <script th:src="@{/home/js/main.js}">
    </script>

    <script type='text/javascript'>
        $(document).ready(function() {
            if ($('#messageText').is(':empty')) {
                return false;
            } else {
                Swal.fire(
                    'Success',
                    'Thanks for your Submitting!',
                    'success'
                )
            }
        });

        $('#whatsapp').click(function() {
            $('.card').show(500);
        });

        if (window.innerWidth < 600) {
            $("a").click(function() {
                $('#wa-link').attr("href", "https://bit.ly/2FOiA9C");
            });
        } else {
            $("a").click(function() {
                $('#wa-link').attr("href", "https://bit.ly/2NrMGnM");
            });

        }

        $('#btn-wa-close').click(function() {
            $('.card').hide(500);
        });
    </script>

</body>

</html>