<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GDP - PT. Bumi Amartha Teknologi Mandiri</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link th:href="@{/home/img/batm.png}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/home/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/home/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/home/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/home/css/style.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        @media (max-width: 600px) {
            .card-whatsapp {
                width: 250px !important;
            }

            .card-whatsapp img {
                height: 100px !important;
                width: 200px !important;
            }

            p {
                font-size: 12px;
            }
        }
    </style>

</head>

<body>

    <div id="whatsapp">
        <a>
            <img th:src="@{/img/wap.svg}" style="z-index: 11; left: 30px; bottom:30px; position: fixed;" height="70px">
        </a>
    </div>

    <div class="card card-whatsapp"
        style="z-index: 12; position: fixed; left: 30px; bottom: 30px; width: 400px; display: none; border-radius: 20px; background-color: transparent;">
        <div class="card-header"
            style="background-color: #2E8C7D; color: white; border-top-left-radius: 20px; border-top-right-radius: 20px">
            <i class="fa fa-whatsapp" style="font-size: 25px; color: white; margin-right: 10px;"></i>
            <h5 style="display:inline; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Whatsapp</h5>
            <a id="btn-wa-close">
                <i class="fa fa-close" style="font-size: 20px; color: white; margin-right: 10px; float:right"></i>
            </a>
        </div>
        <div class="card-body"
            th:style="'background-image: url(' + @{/img/background-wa.png} + '); border-bottom-left-radius:20px; border-bottom-right-radius:20px'">
            <p style="z-index: 13; position: absolute; margin-top: 30px; margin-left: 50px;">Hello, <br> Can I Help You?
            </p>
            <img th:src="@{/img/buble.png}" width="350px" height="150px" alt="">
            <a id="wa-link" href="#"
                target="__blank" class="btn btn-primary mt-4" style="background-color: #2E8C7D;"> <i class="fa fa-send"
                    style="margin-right: 10px;"></i> Open chat with recruiter
            </a>
        </div>
    </div>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h3>
                    <a th:href="@{/}">
                        <img th:src="@{/home/img/logo/logobatm2.png}" alt="" title="" />
                    </a>
                </h3>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo/logobatm.png" alt="" title="" /></a> -->
            </div>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-background"><img th:src="@{/home/img/intro-carousel/2.jpg}" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 th:text="${job.nama_job}"></h2>
                                <p style="font-size: 20px;"><strong>"The best preparation for good work tomorrow is to
                                        do good work today." -Elbert Hubbard
                                    </strong></p>
                                <a href="#pageGDP" class="btn-get-started scrollto">Description</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #intro -->
    <main id="main">
        <section id="pageGDP">
            <div class="container p-5">
                <header class="section-header wow fadeInUp" style="padding-top: 20px;">
                    <h3>Available Positions</h3>
                    <br>
                    <h1 th:text="${job.nama_job}"></h1>
                    <br>
                    <dt>Job Description</dt>
                    <br>
                    <ul th:each="d: ${desc_id_job}">
                        <li th:text="${d.nama_desc}"></li>
                    </ul>
                    <br>
                    <dt>Minimum Qualifications</dt>
                    <br>
                    <ul th:each="q: ${qual_id_job}">
                        <li th:text="${q.nama_qualification}"></li>
                    </ul>
                    <br>
                    <a th:href="${'/applicants/create/'+job.id_job}" class="btn btn-success"
                        style="margin-left: 20px; margin-bottom: 20px;">Apply Now</a>
                </header>
            </div>
        </section>

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 footer-info">
                            <h3>Bumi Amartha Teknologi Mandiri</h3>
                            <p>PT. Bumi Amartha Teknologi Mandiri or “BATM” is the enterprise’s Technology Best Partner,
                                with best service-oriented approach throughout the entire application life cycle</p>
                        </div>

                        <div class="col-lg-4 col-md-6" id="nav-menu-container">
                            <h4>Useful Links</h4>
                            <ul class="nav-menu">
                                <div class="row">
                                    <li><a href="#recruitment" hidden>Recruitment</a></li>
                                </div>
                                <div class="row">
                                    <li><a class="text-capitalize" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: lighter; font-size: 15px;" href="#intro">Home</a></li>
                                </div>
                            </ul>
                        </div>

                        <div class="col-lg-4 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                Menara Batavia 12A Floor <br> Jl. K.H. Mas Mansyur No. Kav. 126 Karet Tengsin, Tanah
                                Abang Jakarta 10220<br> Indonesia <br>
                                <strong>Phone:</strong> +62-813-8342-1564<br>
                                <strong>Email:</strong> recruitment@batmandiri.com<br>
                            </p>

                            <div class="social-links">
                                <a th:href="@{https://twitter.com/BATMandiri}" target="__blank" class="twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a th:href="@{https://www.facebook.com/bumiamarthateknologi.mandiri.35}" target="__blank"
                                    class="facebook"><i class="fa fa-facebook"></i></a>
                                <a th:href="@{https://www.instagram.com/batm.pt/?igshid=1kpdohaikh6a3}" target="__blank"
                                    class="instagram"><i class="fa fa-instagram"></i></a>
                                <a th:href="@{https://batmandiri.com/wpbatm/}" target="__blank" class="google-plus"><i
                                        class="fa fa-google-plus"></i></a>
                                <a th:href="@{https://www.linkedin.com/company/pt-bumi-amartha-teknologi-mandiri/}" target="__blank"
                                    class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong>Bumi Amartha</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/" target="__blank">BootstrapMade</a>
                </div>
            </div>
        </footer>
        <!-- #footer -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <!-- Uncomment below i you want to use a preloader -->
        <!-- <div id="preloader"></div> -->

        <!-- JavaScript Libraries -->
        <script th:src="@{/home/lib/jquery/jquery.min.js}"></script>
        <script th:src="@{/home/lib/jquery/jquery-migrate.min.js}"></script>
        <script th:src="@{/home/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/home/lib/easing/easing.min.js}"></script>
        <script th:src="@{/home/lib/superfish/hoverIntent.js}"></script>
        <script th:src="@{/home/lib/superfish/superfish.min.js}"></script>
        <script th:src="@{/home/lib/wow/wow.min.js}"></script>
        <script th:src="@{/home/lib/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/home/lib/counterup/counterup.min.js}"></script>
        <script th:src="@{/home/lib/owlcarousel/owl.carousel.min.js}"></script>
        <script th:src="@{/home/lib/isotope/isotope.pkgd.min.js}"></script>
        <script th:src="@{/home/lib/lightbox/js/lightbox.min.js}"></script>
        <script th:src="@{/home/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>
        <!-- Contact Form JavaScript File -->
        <script th:src="@{/home/contactform/contactform.js}"></script>

        <!-- Template Main Javascript File -->
        <script th:src="@{/home/js/main.js}"></script>

        <script>
            $('#whatsapp').click(function () {
                $('.card').show(500);
            });

            if(window.innerWidth < 600) {
                $('a').click(function() {
                    $('#wa-link').attr('href', 'https://bit.ly/2FOiA9C');
                });
            } else {
                $('a').click(function() {
                    $('#wa-link').attr('href', 'https://bit.ly/2NrMGnM');
                });
            }

            $('#btn-wa-close').click(function () {
                $('.card').hide(500);
            });
        </script>

</body>

</html>